<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="http://104.236.159.193:8850/images/logoamigoinvesa.png"/>
  <title>
    Contenido Secciones
  </title>
  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../css/nucleo-icons.css" rel="stylesheet" />
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />

  <style>
    .sectionContenido{
      text-align: left
    }
    .btnColor{
      background-image: none !important;
      background-color: #4CAF50 !important;
    }
    .iconAporte{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transition: 0.3s;
    }
    .iconAporte:hover{
      background-color: lightgray;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %>

  <main class="main-content max-height-vh-100 h-100">

    <!-- Navbar -->
    <%- include('./partials/head.ejs') %>

    <!-- Cotent -->
    <div class="p-4 m-4 text-center"> 

      <h6 class="ms-2">Contenido Secciones</h6>
        
      <div class="d-flex gap-2 justify-content-center">

        <div id="propiedadesContainer" class="card p-2 w-45" style="display: none;"> 
          <h6>Secciones</h6>
          <div id="propiedades" style="height: auto;" > 
            <!-- Contenido dinamico -->
          </div>  
        </div>

        <div class="w-70 d-flex flex-column">
          <div class="card p-2">
            <h6>Tipo Catálogo</h6>
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1" role="tablist" style="cursor: pointer;">
                <li class="nav-item" style="font-size: 14px" onclick="$('.sectionContenido').hide(); $('#sectionCultivos').show()">
                  <a  class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab"  role="tab" aria-controls="profile" aria-selected="true">
                    Cultivos
                  </a>
                </li>
                <li class="nav-item" style="font-size: 14px" onclick="$('.sectionContenido').hide(); $('#sectionEnfermedades').show()">
                  <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab"  role="tab" aria-controls="dashboard" aria-selected="false">
                    Enfermedades
                  </a>
                </li>
                <li class="nav-item" style="font-size: 14px" onclick="$('.sectionContenido').hide(); $('#sectionMalezas').show()">
                  <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab"  role="tab" aria-controls="dashboard" aria-selected="false">
                    Malezas
                  </a>
                </li>
                <li class="nav-item" style="font-size: 14px" onclick="$('.sectionContenido').hide(); $('#sectionPlagas').show()">
                  <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab"  role="tab" aria-controls="dashboard" aria-selected="false">
                    Plagas
                  </a>
                </li>
                <li class="nav-item" style="font-size: 14px" onclick="$('.sectionContenido').hide(); $('#sectionProductos').show()">
                  <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab"  role="tab" aria-controls="dashboard" aria-selected="false">
                    Productos
                  </a>
                </li>
              </ul>
           </div>

           <div class="mt-3">
             <div id="sectionCultivos" class="sectionContenido"></div>
             <div id="sectionEnfermedades" class="sectionContenido" style="display: none;"></div>
             <div id="sectionMalezas" class="sectionContenido" style="display: none;"></div>
             <div id="sectionPlagas" class="sectionContenido" style="display: none;"></div>
             <div id="sectionProductos" class="sectionContenido" style="display: none;"></div>
           </div>

           <div>
             <button onclick="saveConfiguration()" class="btn bnt-primary" style="background-color: #4caf50; color: white;">Guardar Cambios</button>
           </div>

          </div>

          
        </div>

      </div>

    </div>  
      
  </main>



  <!--   Core JS Files   -->
  <script src="../js/core/popper.min.js"></script>
  <script src="../js/core/bootstrap.min.js"></script>
  <script src="../js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../js/plugins/choices.min.js"></script>
  <!-- Kanban scripts -->
  <script src="../js/plugins/dragula/dragula.min.js"></script>
  <script src="../js/plugins/jkanban/jkanban.js"></script>
  <!-- Jquery -->
  <script src="../js/jquery.js"></script>
  <script src="../js/jquery-ui.min.js"></script>
  <!-- Underscore -->
  <script src="../js/underscore-min.js"></script>
  <!-- Script Plantilla -->
  <script src="../js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <!-- Datatable -->
  <script src="../js/plugins/datatables.js"></script>

  <script>  
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })


    const handleJSON = (s) => {
      if (s == null && s == "") { return }
      // Remove special characters
      s = s.replace(/\\n/g, "\\n")  
           .replace(/\\'/g, "\\'")
           .replace(/\\"/g, '\\"')
           .replace(/\\&/g, "\\&")
           .replace(/\\r/g, "\\r")
           .replace(/\\t/g, "\\t")
           .replace(/\\b/g, "\\b")
           .replace(/\\f/g, "\\f")
           .replace(/[\u0000-\u0019]+/g,"")
           .replace(/\n/g, "\\n");

      // Remove New Lines
      return JSON.parse(s)
    }

    const printPropiedades = (data) => {
      for (let i = 0; i < data.length; i++) {
        let element = `
          <div class="detailPropiedad" data-id="${data[i].id}" data-visible="${data[i].visible}" data-idCampo="${data[i].id_campo}" data-filtro="${data[i].filtro}" data-titulo="${data[i].titulo}" style="cursor: pointer"> 
            <h6 class="text-xs font-weight-bolder opacity-7">${data[i].titulo}</h6>
            <hr class="horizontal dark mt-0">
          </div>
        `;
        $("#propiedades").append(element)
      }
    }

    const saveConfiguration = () => {
      let fields = $(".infoHarvest");
      let data;
      let parametros = [];
      let parametros_actualizar = [];
      for (let i = 0; i < fields.length; i++) {
        if (!($(fields[i]).attr("id-catalogo-propiedad"))) {
          parametros.push({
            "id": 0,
            "id_catalogo": Number($(fields[i]).attr("id-catalogo")),
            "id_propiedad":  Number($(fields[i]).attr("id-propiedad")),
            "id_catalogo_seccion": Number($(fields[i]).attr("id-catalogo-seccion")),
            "orden": Number($(fields[i]).attr("data-position"))
          })
          continue
        }
        parametros_actualizar.push({
          "id": Number($(fields[i]).attr("id-catalogo-propiedad")),
          "id_catalogo": Number($(fields[i]).attr("id-catalogo")),
          "id_propiedad": Number($(fields[i]).attr("id-propiedad")),
          "id_catalogo_seccion": Number($(fields[i]).attr("id-catalogo-seccion")),
          "orden": Number($(fields[i]).attr("data-position"))
        })
      };
      if (parametros.length == 0) {
        data = parametros_actualizar
      } else {
        data = parametros
      }

      fetch('http://104.236.159.193:3010/catalogo_propiedad', {
        method: 'POST',
        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
        body: JSON.stringify(data)
      })
      .then(res => res.json())
      .then(res => {
        console.log(res)
        if (res.success) {} 
        else {console.error("No fue posbile actualizar")}
      });
    };

    let campos = [
      { "id": 1, "descripcion": "Texto", "maestro": 0},
      { "id": 2, "descripcion": "Imagen", "maestro": 0},
      { "id": 4, "descripcion": "Combo", "maestro": 1},
      { "id": 8, "descripcion": "Label", "maestro": 0},
      { "id": 10, "descripcion": "Carga Pdf", "maestro": 0},
      { "id": 11, "descripcion": "Lista Productos", "maestro": 0 },
      { "id": 12, "descripcion": "Url", "maestro": 0}
    ];

    //  Esta funcion deberia podr cargar todas la ventanas a la vez. No esta probrada, implementar
    let catalogosLista = ["Cultivos", "Enfermedades", "Malezas", "Plagas", "Productos"]
    const printSections = (data) => {
      for (let c = 0; c < catalogosLista.length; c++) {
        let dataCatalogo = _.where(data, {descripcion_catalogo: catalogosLista[c]});
        let sectionsCatalogo = [];
        
        for (let i = 0; i < dataCatalogo.length; i++) {
          if (!sectionsCatalogo.includes(dataCatalogo[i].seccion)) {
            sectionsCatalogo.push(dataCatalogo[i].seccion);
          };
        }

        for (let i = 0; i < sectionsCatalogo.length; i++) {
          let sectionsContentCatalog = [];
          sectionsContentCatalog = _.where(data, {seccion: sectionsCatalogo[i], descripcion_catalogo: catalogosLista[c]});

          let element = `
            <div class="text-center">
              <h6 class="text-xs">${sectionsCatalogo[i]}</h6>
              <div id="${catalogosLista[c] + sectionsCatalogo[i].replace(/\s/g, "")}" class="ms-2 mt-2"></div>
            </div>
          `;
          $("#section"+catalogosLista[c]).append(element);
          
          for (let e = 0; e < sectionsContentCatalog.length; e++) {
            let elementX = `
              <div class="ms-2 d-flex gap-3 infoHarvest" data-position="${e + 1}" id-catalogo-propiedad="${sectionsContentCatalog[e].id_catalogo_propiedad}" id-catalogo="${sectionsContentCatalog[e].id_catalogo}" id-propiedad="${sectionsContentCatalog[e].id_propiedad}" id-catalogo-seccion="${sectionsContentCatalog[e].id_catologo_seccion}">
                <div class="iconAporte removeSection" style="color: red"><i class="fas fa-trash"></i></div>
                <div class="iconAporte moveUp"><i class="fas fa-arrow-up"></i></div>
                <div class="iconAporte moveDown"><i class="fas fa-arrow-down"></i></div>
                ${sectionsContentCatalog[e].titulo}
              </div>
            `;
            $("#"+catalogosLista[c]+sectionsCatalogo[i].replace(/\s/g, "")).append(elementX)
            if (e === sectionsContentCatalog.length - 1) {
              $("#"+catalogosLista[c]+sectionsCatalogo[i].replace(/\s/g, "")).parent().append(`<div class="iconAporte iconAdd" title="Agregar Propiedad a la sección" style="margin-left: 15px; color: green"><i class="fas fa-plus"></i></div>`)
              $("#"+catalogosLista[c]+sectionsCatalogo[i].replace(/\s/g, "")).attr("id-catalogo", sectionsContentCatalog[e].id_catalogo)
              $("#"+catalogosLista[c]+sectionsCatalogo[i].replace(/\s/g, "")).attr("id-catalogo-seccion", sectionsContentCatalog[e].id_catologo_seccion)
            }
          }
        }
      }
    };

    var appendTo;
    $(document).on("click", ".detailPropiedad", function () {
      let text = $(this).text();
      let id = $(this).attr("data-id")
      let idCatalogo = $(appendTo).attr("id-catalogo")
      let idCatalogoSeccion = $(appendTo).attr("id-catalogo-seccion")

      let element = `
        <div class="ms-2 d-flex gap-3 infoHarvest" id-propiedad="${id}" id-catalogo="${idCatalogo}" id-catalogo-seccion="${idCatalogoSeccion}">
          <div class="iconAporte removeSection" style="color: red"><i class="fas fa-trash"></i></div>
          <div class="iconAporte moveUp"><i class="fas fa-arrow-up"></i></div>
          <div class="iconAporte moveDown"><i class="fas fa-arrow-down"></i></div>
          ${text}
        </div>
      `;
      $(appendTo).append(element);

      // Calc position
      appendTo = $(appendTo).children();
      for (let i = 0; i < appendTo.length; i++) {
        $(appendTo[i]).attr("data-position", i + 1)
      }
      appendTo = "";
      $("#propiedadesContainer").hide();
    });

    $(document).on("click", ".iconAdd", function () {
      appendTo = $(this).prev();
      $("#propiedadesContainer").show();
    })

    $(document).on("click", ".removeSection", function () {
      if (!confirm("Esta seguro de eliminar esta propiedad")) {return}

      let id = $(this).parent().attr("data-id");
      $(this).parent().remove()

      // http://104.236.159.193:3010/catalogo_eliminar_prodiedad/287
    })

    $(document).on("click", ".moveUp", function () {
      let previus = $(this).parent().prev();
      let container = $(this).parent().parent();
      let clone = $(this).parent().clone();

      if (previus.length == 0) {return}

      $(this).parent().remove();
      $(previus).before(clone)

      container = $(container).children();
      for (let i = 0; i < container.length; i++) {
        $(container[i]).attr("data-position", i + 1)
      }
    })

    $(document).on("click", ".moveDown", function () {
      let next = $(this).parent().next();
      let container = $(this).parent().parent()
      let clone = $(this).parent().clone();

      if (next.length == 0) {return}

      $(this).parent().remove();
      $(next).after(clone);

      container = $(container).children();
      for (let i = 0; i < container.length; i++) {
        $(container[i]).attr("data-position", i + 1)
      }
    })


    var catalogos = '<%- catalogos %>';
    catalogos = handleJSON(catalogos);
    catalogos = catalogos.data;

    var catalogosSecciones = '<%- catalogosSecciones %>';
    catalogosSecciones = handleJSON(catalogosSecciones);
    catalogosSecciones = catalogosSecciones.data;

    var catalogoSeccionesSubsecciones = '<%- catalogoSeccionesSubsecciones %>';
    catalogoSeccionesSubsecciones = handleJSON(catalogoSeccionesSubsecciones);
    catalogoSeccionesSubsecciones = catalogoSeccionesSubsecciones.data;

    var subsecciones = '<%- subsecciones %>';
    subsecciones = handleJSON(subsecciones);
    subsecciones = subsecciones.data;

    $(document).ready(function () {
      printPropiedades(subsecciones.campo_propiedad)
      printSections(catalogoSeccionesSubsecciones.catalogo_propiedad_campo)
    })



  </script>

</body>
</html>

<!-- POST -->
<!-- http://104.236.159.193:3010/catalogo_propiedad/ -->


<!-- PAYLOAD nueva propiedad -->
<!-- parametros[0][id]: 0
parametros[0][id_catalogo]: 1
parametros[0][id_propiedad]: 52
parametros[0][id_catalogo_seccion]: 2
parametros[0][orden]: 5 -->

<!-- PAYLOAD -->
<!-- parametros_actualizar[0][id]: 276
parametros_actualizar[0][id_catalogo]: 5
parametros_actualizar[0][id_propiedad]: 46
parametros_actualizar[0][id_catalogo_seccion]: 16
parametros_actualizar[0][orden]: 1
parametros_actualizar[1][id]: 280
parametros_actualizar[1][id_catalogo]: 5
parametros_actualizar[1][id_propiedad]: 150
parametros_actualizar[1][id_catalogo_seccion]: 16
parametros_actualizar[1][orden]: 2
parametros_actualizar[2][id]: 244
parametros_actualizar[2][id_catalogo]: 5
parametros_actualizar[2][id_propiedad]: 17
parametros_actualizar[2][id_catalogo_seccion]: 16
parametros_actualizar[2][orden]: 3
parametros_actualizar[3][id]: 80
parametros_actualizar[3][id_catalogo]: 5
parametros_actualizar[3][id_propiedad]: 49
parametros_actualizar[3][id_catalogo_seccion]: 16
parametros_actualizar[3][orden]: 4
parametros_actualizar[4][id]: 156
parametros_actualizar[4][id_catalogo]: 5
parametros_actualizar[4][id_propiedad]: 50
parametros_actualizar[4][id_catalogo_seccion]: 16
parametros_actualizar[4][orden]: 5
parametros_actualizar[5][id]: 157
parametros_actualizar[5][id_catalogo]: 5
parametros_actualizar[5][id_propiedad]: 51
parametros_actualizar[5][id_catalogo_seccion]: 16
parametros_actualizar[5][orden]: 6
parametros_actualizar[6][id]: 245
parametros_actualizar[6][id_catalogo]: 5
parametros_actualizar[6][id_propiedad]: 47
parametros_actualizar[6][id_catalogo_seccion]: 26
parametros_actualizar[6][orden]: 1
parametros_actualizar[7][id]: 214
parametros_actualizar[7][id_catalogo]: 5
parametros_actualizar[7][id_propiedad]: 102
parametros_actualizar[7][id_catalogo_seccion]: 26
parametros_actualizar[7][orden]: 2
parametros_actualizar[8][id]: 216
parametros_actualizar[8][id_catalogo]: 5
parametros_actualizar[8][id_propiedad]: 104
parametros_actualizar[8][id_catalogo_seccion]: 26
parametros_actualizar[8][orden]: 3
parametros_actualizar[9][id]: 284
parametros_actualizar[9][id_catalogo]: 5
parametros_actualizar[9][id_propiedad]: 151
parametros_actualizar[9][id_catalogo_seccion]: 26
parametros_actualizar[9][orden]: 4
parametros_actualizar[10][id]: 218
parametros_actualizar[10][id_catalogo]: 5
parametros_actualizar[10][id_propiedad]: 106
parametros_actualizar[10][id_catalogo_seccion]: 26
parametros_actualizar[10][orden]: 5
parametros_actualizar[11][id]: 219
parametros_actualizar[11][id_catalogo]: 5
parametros_actualizar[11][id_propiedad]: 108
parametros_actualizar[11][id_catalogo_seccion]: 26
parametros_actualizar[11][orden]: 6
parametros_actualizar[12][id]: 227
parametros_actualizar[12][id_catalogo]: 5
parametros_actualizar[12][id_propiedad]: 116
parametros_actualizar[12][id_catalogo_seccion]: 26
parametros_actualizar[12][orden]: 7
parametros_actualizar[13][id]: 220
parametros_actualizar[13][id_catalogo]: 5
parametros_actualizar[13][id_propiedad]: 109
parametros_actualizar[13][id_catalogo_seccion]: 26
parametros_actualizar[13][orden]: 8
parametros_actualizar[14][id]: 238
parametros_actualizar[14][id_catalogo]: 5
parametros_actualizar[14][id_propiedad]: 129
parametros_actualizar[14][id_catalogo_seccion]: 26
parametros_actualizar[14][orden]: 9
parametros_actualizar[15][id]: 239
parametros_actualizar[15][id_catalogo]: 5
parametros_actualizar[15][id_propiedad]: 130
parametros_actualizar[15][id_catalogo_seccion]: 26
parametros_actualizar[15][orden]: 10
parametros_actualizar[16][id]: 240
parametros_actualizar[16][id_catalogo]: 5
parametros_actualizar[16][id_propiedad]: 131
parametros_actualizar[16][id_catalogo_seccion]: 26
parametros_actualizar[16][orden]: 11
parametros_actualizar[17][id]: 246
parametros_actualizar[17][id_catalogo]: 5
parametros_actualizar[17][id_propiedad]: 132
parametros_actualizar[17][id_catalogo_seccion]: 27
parametros_actualizar[17][orden]: 1
parametros_actualizar[18][id]: 285
parametros_actualizar[18][id_catalogo]: 5
parametros_actualizar[18][id_propiedad]: 152
parametros_actualizar[18][id_catalogo_seccion]: 27
parametros_actualizar[18][orden]: 2
parametros_actualizar[19][id]: 286
parametros_actualizar[19][id_catalogo]: 5
parametros_actualizar[19][id_propiedad]: 153
parametros_actualizar[19][id_catalogo_seccion]: 27
parametros_actualizar[19][orden]: 3
parametros_actualizar[20][id]: 228
parametros_actualizar[20][id_catalogo]: 5
parametros_actualizar[20][id_propiedad]: 117
parametros_actualizar[20][id_catalogo_seccion]: 27
parametros_actualizar[20][orden]: 4
parametros_actualizar[21][id]: 230
parametros_actualizar[21][id_catalogo]: 5
parametros_actualizar[21][id_propiedad]: 119
parametros_actualizar[21][id_catalogo_seccion]: 27
parametros_actualizar[21][orden]: 5
parametros_actualizar[22][id]: 236
parametros_actualizar[22][id_catalogo]: 5
parametros_actualizar[22][id_propiedad]: 126
parametros_actualizar[22][id_catalogo_seccion]: 27
parametros_actualizar[22][orden]: 6
parametros_actualizar[23][id]: 237
parametros_actualizar[23][id_catalogo]: 5
parametros_actualizar[23][id_propiedad]: 128
parametros_actualizar[23][id_catalogo_seccion]: 27
parametros_actualizar[23][orden]: 7
parametros_actualizar[24][id]: 231
parametros_actualizar[24][id_catalogo]: 5
parametros_actualizar[24][id_propiedad]: 121
parametros_actualizar[24][id_catalogo_seccion]: 27
parametros_actualizar[24][orden]: 8
parametros_actualizar[25][id]: 232
parametros_actualizar[25][id_catalogo]: 5
parametros_actualizar[25][id_propiedad]: 122
parametros_actualizar[25][id_catalogo_seccion]: 27
parametros_actualizar[25][orden]: 9
parametros_actualizar[26][id]: 233
parametros_actualizar[26][id_catalogo]: 5
parametros_actualizar[26][id_propiedad]: 123
parametros_actualizar[26][id_catalogo_seccion]: 27
parametros_actualizar[26][orden]: 10
parametros_actualizar[27][id]: 234
parametros_actualizar[27][id_catalogo]: 5
parametros_actualizar[27][id_propiedad]: 124
parametros_actualizar[27][id_catalogo_seccion]: 27
parametros_actualizar[27][orden]: 11
parametros_actualizar[28][id]: 235
parametros_actualizar[28][id_catalogo]: 5
parametros_actualizar[28][id_propiedad]: 125
parametros_actualizar[28][id_catalogo_seccion]: 27
parametros_actualizar[28][orden]: 12
parametros_actualizar[29][id]: 248
parametros_actualizar[29][id_catalogo]: 5
parametros_actualizar[29][id_propiedad]: 110
parametros_actualizar[29][id_catalogo_seccion]: 27
parametros_actualizar[29][orden]: 13
parametros_actualizar[30][id]: 249
parametros_actualizar[30][id_catalogo]: 5
parametros_actualizar[30][id_propiedad]: 111
parametros_actualizar[30][id_catalogo_seccion]: 27
parametros_actualizar[30][orden]: 14
parametros_actualizar[31][id]: 250
parametros_actualizar[31][id_catalogo]: 5
parametros_actualizar[31][id_propiedad]: 112
parametros_actualizar[31][id_catalogo_seccion]: 27
parametros_actualizar[31][orden]: 15
parametros_actualizar[32][id]: 251
parametros_actualizar[32][id_catalogo]: 5
parametros_actualizar[32][id_propiedad]: 113
parametros_actualizar[32][id_catalogo_seccion]: 27
parametros_actualizar[32][orden]: 16
parametros_actualizar[33][id]: 252
parametros_actualizar[33][id_catalogo]: 5
parametros_actualizar[33][id_propiedad]: 114
parametros_actualizar[33][id_catalogo_seccion]: 27
parametros_actualizar[33][orden]: 17
parametros_actualizar[34][id]: 241
parametros_actualizar[34][id_catalogo]: 5
parametros_actualizar[34][id_propiedad]: 129
parametros_actualizar[34][id_catalogo_seccion]: 27
parametros_actualizar[34][orden]: 18
parametros_actualizar[35][id]: 243
parametros_actualizar[35][id_catalogo]: 5
parametros_actualizar[35][id_propiedad]: 130
parametros_actualizar[35][id_catalogo_seccion]: 27
parametros_actualizar[35][orden]: 19
parametros_actualizar[36][id]: 242
parametros_actualizar[36][id_catalogo]: 5
parametros_actualizar[36][id_propiedad]: 131
parametros_actualizar[36][id_catalogo_seccion]: 27
parametros_actualizar[36][orden]: 20 -->