<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="http://104.236.159.193:8850/images/logoamigoinvesa.png"/>
  <title>
    Contenido Secciones
  </title>
  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../css/nucleo-icons.css" rel="stylesheet" />
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />

  <style>
    .sectionContenido{
      text-align: left
    }
    .btnColor{
      background-image: none !important;
      background-color: #4CAF50 !important;
    }
    .iconAporte{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transition: 0.3s;
    }
    .iconAporte:hover{
      background-color: lightgray;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %>

  <main class="main-content max-height-vh-100 h-100">

    <!-- Navbar -->
    <%- include('./partials/head.ejs') %>

    <!-- Cotent -->
    <div class="p-4 m-4 text-center"> 

      <h6 class="ms-2">Contenido Secciones</h6>
        
      <div class="d-flex gap-2 justify-content-center">

        <div class="card p-2 w-45" style="display: none;"> 
          <h6>Secciones</h6>
          <div id="propiedades" style="max-height: 70vh; overflow: scroll;">
          </div>  
        </div>

        <div class="w-70 d-flex flex-column">
          <div class="card p-2">
            <h6>Tipo Catálogo</h6>
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1" role="tablist" style="cursor: pointer;">
                <li class="nav-item" style="font-size: 14px" onclick="$('.sectionContenido').hide(); $('#sectionCultivos').show()">
                  <a  class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab"  role="tab" aria-controls="profile" aria-selected="true">
                    Cultivos
                  </a>
                </li>
                <li class="nav-item" style="font-size: 14px" onclick="$('.sectionContenido').hide(); $('#sectionEnfermedades').show()">
                  <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab"  role="tab" aria-controls="dashboard" aria-selected="false">
                    Enfermedades
                  </a>
                </li>
                <li class="nav-item" style="font-size: 14px" onclick="$('.sectionContenido').hide(); $('#sectionMalezas').show()">
                  <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab"  role="tab" aria-controls="dashboard" aria-selected="false">
                    Malezas
                  </a>
                </li>
                <li class="nav-item" style="font-size: 14px" onclick="$('.sectionContenido').hide(); $('#sectionPlagas').show()">
                  <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab"  role="tab" aria-controls="dashboard" aria-selected="false">
                    Plagas
                  </a>
                </li>
                <li class="nav-item" style="font-size: 14px" onclick="$('.sectionContenido').hide(); $('#sectionProductos').show()">
                  <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab"  role="tab" aria-controls="dashboard" aria-selected="false">
                    Productos
                  </a>
                </li>
              </ul>
           </div>

           <div class="mt-3">
             <div id="sectionCultivos" class="sectionContenido"></div>
             <div id="sectionEnfermedades" class="sectionContenido" style="display: none;"></div>
             <div id="sectionMalezas" class="sectionContenido" style="display: none;"></div>
             <div id="sectionPlagas" class="sectionContenido" style="display: none;"></div>
             <div id="sectionProductos" class="sectionContenido" style="display: none;"></div>
           </div>

          </div>

          
        </div>

      </div>

    </div>  
      
  </main>



  <!--   Core JS Files   -->
  <script src="../js/core/popper.min.js"></script>
  <script src="../js/core/bootstrap.min.js"></script>
  <script src="../js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../js/plugins/choices.min.js"></script>
  <!-- Kanban scripts -->
  <script src="../js/plugins/dragula/dragula.min.js"></script>
  <script src="../js/plugins/jkanban/jkanban.js"></script>
  <!-- Jquery -->
  <script src="../js/jquery.js"></script>
  <script src="../js/jquery-ui.min.js"></script>
  <!-- Underscore -->
  <script src="../js/underscore-min.js"></script>
  <!-- Script Plantilla -->
  <script src="../js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <!-- Datatable -->
  <script src="../js/plugins/datatables.js"></script>

  <script>  
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })


    const handleJSON = (s) => {
      if (s == null && s == "") { return }
      // Remove special characters
      s = s.replace(/\\n/g, "\\n")  
           .replace(/\\'/g, "\\'")
           .replace(/\\"/g, '\\"')
           .replace(/\\&/g, "\\&")
           .replace(/\\r/g, "\\r")
           .replace(/\\t/g, "\\t")
           .replace(/\\b/g, "\\b")
           .replace(/\\f/g, "\\f")
           .replace(/[\u0000-\u0019]+/g,"")
           .replace(/\n/g, "\\n");

      // Remove New Lines
      return JSON.parse(s)
    }

    const printPropiedades = (data) => {
      for (let i = 0; i < data.length; i++) {
        let element = `
          <div class="detailPropiedad" data-id="${data[i].id}" data-visible="${data[i].visible}" data-idCampo="${data[i].id_campo}" data-filtro="${data[i].filtro}" data-titulo="${data[i].titulo}" style="cursor: pointer"> 
            <h6 class="text-xs font-weight-bolder opacity-7">${data[i].titulo}</h6>
            <hr class="horizontal dark mt-0">
          </div>
        `;
        $("#propiedades").append(element)
      }
    }

    const saveConfiguration = () => {
      let fields = $(".infoHarvest");
      console.log(fields)

      let data = {};
      for (let i = 0; i < fields.length; i++) {
        data["seccion_catalogo_editar["+i+"][id]"] = Number($(fields[i]).attr("id"));
        data["seccion_catalogo_editar["+i+"][id_catalogo]"] = Number($(fields[i]).attr("id-catalogo"));
        data["seccion_catalogo_editar["+i+"][id_seccion]"] = Number($(fields[i]).attr("id-seccion"));
        data["seccion_catalogo_editar["+i+"][orden]"] = Number($(fields[i]).attr("data-orden"));
      };

      // fetch('http://104.236.159.193:3010/catalogo_secciones', {
      //   method: 'POST',
      //   headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
      //   body: JSON.stringify(data)
      // })
      // .then(res => res.json())
      // .then(res => {
      //   console.log(res)
      //   if (res.success) {} 
      //   else {console.error("No fue posbile actualizar")}
      // });
    };

    let campos = [
      { "id": 1, "descripcion": "Texto", "maestro": 0},
      { "id": 2, "descripcion": "Imagen", "maestro": 0},
      { "id": 4, "descripcion": "Combo", "maestro": 1},
      { "id": 8, "descripcion": "Label", "maestro": 0},
      { "id": 10, "descripcion": "Carga Pdf", "maestro": 0},
      { "id": 11, "descripcion": "Lista Productos", "maestro": 0 },
      { "id": 12, "descripcion": "Url", "maestro": 0}
    ];

    $(document).on("click", ".detailPropiedad", function () {
      console.log("cosas pasan")
    });


    //  Esta funcion deberia podr cargar todas la ventanas a la vez. No esta probrada, implementar
    let catalogosLista = ["Cultivos", "Enfermedades", "Malezas", "Plagas", "Productos"]
    const printSections = (data) => {

      for (let c = 0; c < catalogosLista.length; c++) {
        let dataCatalogo = _.where(catalogosLista, {descripcion_catalogo: catalogosLista[c]});
        let sectionsCatalogo = [];
        
        for (let i = 0; i < dataCatalogo.length; i++) {
          if (!sectionsCatalogo.includes(dataCatalogo[i].seccion)) {
            sectionsCatalogo.push(dataCatalogo[i].seccion);
          };
        }

        for (let i = 0; i < sectionsCatalogo.length; i++) {
          let sectionsContentCatalog = [];
          sectionsContentCatalog = _.where(data, {seccion: sectionsCatalogo[i], descripcion_catalogo: catalogosLista[c]});
  
          let element = `
            <h6 class="text-xs">${sectionsCatalogo[i]}</h6>
            <div id="${catalogosLista[c].sectionsCatalogo[i]}" class="ms-2 mt-2"></div>
          `;
          $("#section"+catalogosLista[c]).append(element);

          for (let e = 0; e < sectionsContentCatalog.length; e++) {
            let elementX = `
              <div class="ms-2 d-flex gap-3" data-position="${e + 1}" id-section="${sectionsContentCatalog[e].id_campo}" id-campo="${sectionsCatalogo[e].id_campo}" id-propiedad="${sectionsCatalogo[e].id_propiedad}" id-catalogoSeccion="${sectionsCatalogo[e].id_catalogo_seccion}" id-catalogoPropiedad="${sectionsCatalogo[e].id_catalogo_propiedad}">
                <div class="iconAporte moveUp"><i class="fas fa-arrow-up"></i></div>
                <div class="iconAporte moveDown"><i class="fas fa-arrow-down"></i></div>
                ${sectionsContentCatalog[e].titulo}
              </div>
            `;
            $("#"+catalogosLista[c]+sectionsCatalogo[i]).append(elementX)
          }
        }
        $("#section"+catalogosLista[c]).append(`<div class="dotIcon iconAporte" title="Aprobar Aporte" style="margin-left: 33px"><i class="fas fa-plus"></i></div>`)
      }
    };

    printSeccionesDetail = (data) => {
      // Cultivos
      let cultivos = _.where(data, {descripcion_catalogo: "Cultivos"});
      console.log(cultivos)
      let cultivosSecciones = [];
      for (let i = 0; i < cultivos.length; i++) {
        if (!cultivosSecciones.includes(cultivos[i].seccion)) {
          cultivosSecciones.push(cultivos[i].seccion);
        }
      };
      console.log(cultivosSecciones)
      for (let i = 0; i < cultivosSecciones.length; i++) {
        let subSectionConent = [];
        subSectionConent = _.where(data, {seccion: cultivosSecciones[i], descripcion_catalogo: "Cultivos"});
        console.log("!!", subSectionConent);

        let element = `
          <h6 class="text-xs">${cultivosSecciones[i]}</h6>
          <div id="cultivos${cultivosSecciones[i]}" class="ms-2 mt-2">
          
          </div>
        `;
        $("#sectionCultivos").append(element);

        for (let e = 0; e < subSectionConent.length; e++) {
          let elementX = `
            <div class="ms-2 d-flex gap-3" data-position="${e + 1}">
              <div class="iconAporte moveUp"><i class="fas fa-arrow-up"></i></div>
              <div class="iconAporte moveDown"><i class="fas fa-arrow-down"></i></div>
              ${subSectionConent[e].titulo}
            </div>
          `
          $("#cultivos"+cultivosSecciones[i]).append(elementX)
        };
        $("#sectionCultivos").append(`<div class="dotIcon iconAporte" title="Aprobar Aporte" style="margin-left: 33px"><i class="fas fa-plus"></i></div>`)
      };

      // Enfermedades
      let enfermedades = _.where(data, {descripcion_catalogo: "Enfermedades"});
      let EnfermedadesSecciones = [];
      for (let i = 0; i < enfermedades.length; i++) {
        if (!EnfermedadesSecciones.includes(enfermedades[i].seccion)) {
          EnfermedadesSecciones.push(enfermedades[i].seccion);
        }
      };
      for (let i = 0; i < EnfermedadesSecciones.length; i++) {
        let subSectionConent2 = [];
        subSectionConent2 = _.where(data, {seccion: EnfermedadesSecciones[i], descripcion_catalogo: "Enfermedades"});

        let element = `
          <div id="enfermedades${EnfermedadesSecciones[i]}" class="ms-2 mt-2">
            <h6 class="text-xs">${EnfermedadesSecciones[i]}</h6>
          </div>
        `;
        $("#sectionEnfermedades").append(element);

        for (let e = 0; e < subSectionConent2.length; e++) {
          let elementX = `
            <div class="ms-2 d-flex gap-2">
              <div><i class="fas fa-arrow-up"></i></div>
              <div><i class="fas fa-arrow-down"></i></div>
              ${subSectionConent2[e].titulo}
            </div>
          `
          $("#enfermedades"+EnfermedadesSecciones[i]).append(elementX)
        };
      };

      // Malezas
      let malezas = _.where(data, {descripcion_catalogo: "Malezas"});
      let malezasSecciones = [];
      for (let i = 0; i < malezas.length; i++) {
        if (!malezasSecciones.includes(malezas[i].seccion)) {
          malezasSecciones.push(malezas[i].seccion);
        }
      };
      for (let i = 0; i < malezasSecciones.length; i++) {
        let subSectionConent3 = [];
        subSectionConent3 = _.where(data, {seccion: malezasSecciones[i], descripcion_catalogo: "Malezas"});

        let element = `
          <div id="malezas${malezasSecciones[i]}" class="ms-2 mt-2">
            <h6 class="text-xs">${malezasSecciones[i]}</h6>
          </div>
        `;
        $("#sectionMalezas").append(element);

        for (let e = 0; e < subSectionConent3.length; e++) {
          let elementX = `
            <div class="ms-2 d-flex gap-2">
              <div><i class="fas fa-arrow-up"></i></div>
              <div><i class="fas fa-arrow-down"></i></div>
              ${subSectionConent3[e].titulo}
            </div>
          `
          $("#malezas"+malezasSecciones[i]).append(elementX)
        };
      };

      // Plagas
      let plagas = _.where(data, {descripcion_catalogo: "Plagas"});
      let plagasSecciones = [];
      for (let i = 0; i < plagas.length; i++) {
        if (!plagasSecciones.includes(plagas[i].seccion)) {
          plagasSecciones.push(plagas[i].seccion);
        }
      };
      for (let i = 0; i < plagasSecciones.length; i++) {
        let subSectionConent4 = [];
        subSectionConent4 = _.where(data, {seccion: plagasSecciones[i], descripcion_catalogo: "Plagas"});

        let element = `
          <div id="plagas${plagasSecciones[i]}" class="ms-2 mt-2">
            <h6 class="text-xs">${plagasSecciones[i]}</h6>
          </div>
        `;
        $("#sectionPlagas").append(element);

        for (let e = 0; e < subSectionConent4.length; e++) {
          let elementX = `
            <div class="ms-2 d-flex gap-2">
              <div><i class="fas fa-arrow-up"></i></div>
              <div><i class="fas fa-arrow-down"></i></div>
              ${subSectionConent4[e].titulo}
            </div>
          `
          $("#plagas"+plagasSecciones[i]).append(elementX)
        };
      };

      // Productos
      let productos = _.where(data, {descripcion_catalogo: "Productos"});
      let productosSecciones = [];
      for (let i = 0; i < productos.length; i++) {
        if (!productosSecciones.includes(productos[i].seccion)) {
          productosSecciones.push(productos[i].seccion);
        }
      };
      for (let i = 0; i < productosSecciones.length; i++) {
        let subSectionConent5 = [];
        subSectionConent5 = _.where(data, {seccion: productosSecciones[i], descripcion_catalogo: "Productos"});

        let element = `
          <div id="productos${productosSecciones[i]}" class="ms-2 mt-2">
            <h6 class="text-xs">${productosSecciones[i]}</h6>
          </div>
        `;
        $("#sectionProductos").append(element);

        for (let e = 0; e < subSectionConent5.length; e++) {
          let elementX = `
            <div class="ms-2 d-flex gap-2" data-position="${e}">
              <div><i class="fas fa-arrow-up"></i></div>
              <div><i class="fas fa-arrow-down"></i></div>
              ${subSectionConent5[e].titulo}
            </div>
          `
          $("#productos"+productosSecciones[i]).append(elementX)
        };
      };
    }  

    $(document).on("click", ".moveUp", function () {
      let previus = $(this).parent().prev();
      let container = $(this).parent().parent();
      let clone = $(this).parent().clone();

      if (previus.length == 0) {return}

      $(this).parent().remove();
      $(previus).before(clone)

      container = $(container).children();
      for (let i = 0; i < container.length; i++) {
        $(container[i]).attr("data-position", i + 1)
        }
    })

    $(document).on("click", ".moveDown", function () {
      let next = $(this).parent().next();
      let container = $(this).parent().parent()
      let clone = $(this).parent().clone();

      if (next.length == 0) {return}

      $(this).parent().remove();
      $(next).after(clone);

      container = $(container).children();
      for (let i = 0; i < container.length; i++) {
        $(container[i]).attr("data-position", i + 1)
      }
    })


    var catalogos = '<%- catalogos %>';
    catalogos = handleJSON(catalogos)

    var catalogosSecciones = '<%- catalogosSecciones %>';
    catalogosSecciones = handleJSON(catalogosSecciones)

    var catalogoSeccionesSubsecciones = '<%- catalogoSeccionesSubsecciones %>';
    catalogoSeccionesSubsecciones = handleJSON(catalogoSeccionesSubsecciones)

    var subsecciones = '<%- subsecciones %>';
    subsecciones = handleJSON(subsecciones)

    $(document).ready(function () {
      printPropiedades(subsecciones.campo_propiedad)
      printSeccionesDetail(catalogoSeccionesSubsecciones.catalogo_propiedad_campo)
    })



  </script>

</body>
</html>

<!-- POST -->
<!-- http://104.236.159.193:3010/catalogo_propiedad/ -->

<!-- PAYLOAD -->
<!-- parametros_actualizar[0][id]: 276
parametros_actualizar[0][id_catalogo]: 5
parametros_actualizar[0][id_propiedad]: 46
parametros_actualizar[0][id_catalogo_seccion]: 16
parametros_actualizar[0][orden]: 1
parametros_actualizar[1][id]: 280
parametros_actualizar[1][id_catalogo]: 5
parametros_actualizar[1][id_propiedad]: 150
parametros_actualizar[1][id_catalogo_seccion]: 16
parametros_actualizar[1][orden]: 2
parametros_actualizar[2][id]: 244
parametros_actualizar[2][id_catalogo]: 5
parametros_actualizar[2][id_propiedad]: 17
parametros_actualizar[2][id_catalogo_seccion]: 16
parametros_actualizar[2][orden]: 3
parametros_actualizar[3][id]: 80
parametros_actualizar[3][id_catalogo]: 5
parametros_actualizar[3][id_propiedad]: 49
parametros_actualizar[3][id_catalogo_seccion]: 16
parametros_actualizar[3][orden]: 4
parametros_actualizar[4][id]: 156
parametros_actualizar[4][id_catalogo]: 5
parametros_actualizar[4][id_propiedad]: 50
parametros_actualizar[4][id_catalogo_seccion]: 16
parametros_actualizar[4][orden]: 5
parametros_actualizar[5][id]: 157
parametros_actualizar[5][id_catalogo]: 5
parametros_actualizar[5][id_propiedad]: 51
parametros_actualizar[5][id_catalogo_seccion]: 16
parametros_actualizar[5][orden]: 6
parametros_actualizar[6][id]: 245
parametros_actualizar[6][id_catalogo]: 5
parametros_actualizar[6][id_propiedad]: 47
parametros_actualizar[6][id_catalogo_seccion]: 26
parametros_actualizar[6][orden]: 1
parametros_actualizar[7][id]: 214
parametros_actualizar[7][id_catalogo]: 5
parametros_actualizar[7][id_propiedad]: 102
parametros_actualizar[7][id_catalogo_seccion]: 26
parametros_actualizar[7][orden]: 2
parametros_actualizar[8][id]: 216
parametros_actualizar[8][id_catalogo]: 5
parametros_actualizar[8][id_propiedad]: 104
parametros_actualizar[8][id_catalogo_seccion]: 26
parametros_actualizar[8][orden]: 3
parametros_actualizar[9][id]: 284
parametros_actualizar[9][id_catalogo]: 5
parametros_actualizar[9][id_propiedad]: 151
parametros_actualizar[9][id_catalogo_seccion]: 26
parametros_actualizar[9][orden]: 4
parametros_actualizar[10][id]: 218
parametros_actualizar[10][id_catalogo]: 5
parametros_actualizar[10][id_propiedad]: 106
parametros_actualizar[10][id_catalogo_seccion]: 26
parametros_actualizar[10][orden]: 5
parametros_actualizar[11][id]: 219
parametros_actualizar[11][id_catalogo]: 5
parametros_actualizar[11][id_propiedad]: 108
parametros_actualizar[11][id_catalogo_seccion]: 26
parametros_actualizar[11][orden]: 6
parametros_actualizar[12][id]: 227
parametros_actualizar[12][id_catalogo]: 5
parametros_actualizar[12][id_propiedad]: 116
parametros_actualizar[12][id_catalogo_seccion]: 26
parametros_actualizar[12][orden]: 7
parametros_actualizar[13][id]: 220
parametros_actualizar[13][id_catalogo]: 5
parametros_actualizar[13][id_propiedad]: 109
parametros_actualizar[13][id_catalogo_seccion]: 26
parametros_actualizar[13][orden]: 8
parametros_actualizar[14][id]: 238
parametros_actualizar[14][id_catalogo]: 5
parametros_actualizar[14][id_propiedad]: 129
parametros_actualizar[14][id_catalogo_seccion]: 26
parametros_actualizar[14][orden]: 9
parametros_actualizar[15][id]: 239
parametros_actualizar[15][id_catalogo]: 5
parametros_actualizar[15][id_propiedad]: 130
parametros_actualizar[15][id_catalogo_seccion]: 26
parametros_actualizar[15][orden]: 10
parametros_actualizar[16][id]: 240
parametros_actualizar[16][id_catalogo]: 5
parametros_actualizar[16][id_propiedad]: 131
parametros_actualizar[16][id_catalogo_seccion]: 26
parametros_actualizar[16][orden]: 11
parametros_actualizar[17][id]: 246
parametros_actualizar[17][id_catalogo]: 5
parametros_actualizar[17][id_propiedad]: 132
parametros_actualizar[17][id_catalogo_seccion]: 27
parametros_actualizar[17][orden]: 1
parametros_actualizar[18][id]: 285
parametros_actualizar[18][id_catalogo]: 5
parametros_actualizar[18][id_propiedad]: 152
parametros_actualizar[18][id_catalogo_seccion]: 27
parametros_actualizar[18][orden]: 2
parametros_actualizar[19][id]: 286
parametros_actualizar[19][id_catalogo]: 5
parametros_actualizar[19][id_propiedad]: 153
parametros_actualizar[19][id_catalogo_seccion]: 27
parametros_actualizar[19][orden]: 3
parametros_actualizar[20][id]: 228
parametros_actualizar[20][id_catalogo]: 5
parametros_actualizar[20][id_propiedad]: 117
parametros_actualizar[20][id_catalogo_seccion]: 27
parametros_actualizar[20][orden]: 4
parametros_actualizar[21][id]: 230
parametros_actualizar[21][id_catalogo]: 5
parametros_actualizar[21][id_propiedad]: 119
parametros_actualizar[21][id_catalogo_seccion]: 27
parametros_actualizar[21][orden]: 5
parametros_actualizar[22][id]: 236
parametros_actualizar[22][id_catalogo]: 5
parametros_actualizar[22][id_propiedad]: 126
parametros_actualizar[22][id_catalogo_seccion]: 27
parametros_actualizar[22][orden]: 6
parametros_actualizar[23][id]: 237
parametros_actualizar[23][id_catalogo]: 5
parametros_actualizar[23][id_propiedad]: 128
parametros_actualizar[23][id_catalogo_seccion]: 27
parametros_actualizar[23][orden]: 7
parametros_actualizar[24][id]: 231
parametros_actualizar[24][id_catalogo]: 5
parametros_actualizar[24][id_propiedad]: 121
parametros_actualizar[24][id_catalogo_seccion]: 27
parametros_actualizar[24][orden]: 8
parametros_actualizar[25][id]: 232
parametros_actualizar[25][id_catalogo]: 5
parametros_actualizar[25][id_propiedad]: 122
parametros_actualizar[25][id_catalogo_seccion]: 27
parametros_actualizar[25][orden]: 9
parametros_actualizar[26][id]: 233
parametros_actualizar[26][id_catalogo]: 5
parametros_actualizar[26][id_propiedad]: 123
parametros_actualizar[26][id_catalogo_seccion]: 27
parametros_actualizar[26][orden]: 10
parametros_actualizar[27][id]: 234
parametros_actualizar[27][id_catalogo]: 5
parametros_actualizar[27][id_propiedad]: 124
parametros_actualizar[27][id_catalogo_seccion]: 27
parametros_actualizar[27][orden]: 11
parametros_actualizar[28][id]: 235
parametros_actualizar[28][id_catalogo]: 5
parametros_actualizar[28][id_propiedad]: 125
parametros_actualizar[28][id_catalogo_seccion]: 27
parametros_actualizar[28][orden]: 12
parametros_actualizar[29][id]: 248
parametros_actualizar[29][id_catalogo]: 5
parametros_actualizar[29][id_propiedad]: 110
parametros_actualizar[29][id_catalogo_seccion]: 27
parametros_actualizar[29][orden]: 13
parametros_actualizar[30][id]: 249
parametros_actualizar[30][id_catalogo]: 5
parametros_actualizar[30][id_propiedad]: 111
parametros_actualizar[30][id_catalogo_seccion]: 27
parametros_actualizar[30][orden]: 14
parametros_actualizar[31][id]: 250
parametros_actualizar[31][id_catalogo]: 5
parametros_actualizar[31][id_propiedad]: 112
parametros_actualizar[31][id_catalogo_seccion]: 27
parametros_actualizar[31][orden]: 15
parametros_actualizar[32][id]: 251
parametros_actualizar[32][id_catalogo]: 5
parametros_actualizar[32][id_propiedad]: 113
parametros_actualizar[32][id_catalogo_seccion]: 27
parametros_actualizar[32][orden]: 16
parametros_actualizar[33][id]: 252
parametros_actualizar[33][id_catalogo]: 5
parametros_actualizar[33][id_propiedad]: 114
parametros_actualizar[33][id_catalogo_seccion]: 27
parametros_actualizar[33][orden]: 17
parametros_actualizar[34][id]: 241
parametros_actualizar[34][id_catalogo]: 5
parametros_actualizar[34][id_propiedad]: 129
parametros_actualizar[34][id_catalogo_seccion]: 27
parametros_actualizar[34][orden]: 18
parametros_actualizar[35][id]: 243
parametros_actualizar[35][id_catalogo]: 5
parametros_actualizar[35][id_propiedad]: 130
parametros_actualizar[35][id_catalogo_seccion]: 27
parametros_actualizar[35][orden]: 19
parametros_actualizar[36][id]: 242
parametros_actualizar[36][id_catalogo]: 5
parametros_actualizar[36][id_propiedad]: 131
parametros_actualizar[36][id_catalogo_seccion]: 27
parametros_actualizar[36][orden]: 20 -->