<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="http://104.236.159.193:8850/images/logoamigoinvesa.png"/>

  <title>
    Cátalogo
  </title>
  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../css/nucleo-icons.css" rel="stylesheet" />
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />

  <style>
    .imgCard{
      max-width: 100%;
      max-height: 100%;
      border-radius: 10px;
    }
    .imgUser{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: gray;
    }
    #backCatalog{
      border-bottom: solid 1px transparent;
      transition: 0.5s;
    }
    #backCatalog:hover{
      border-bottom: solid 1px lightgray;
    }
    .fichaImages{
      width: 300px;
    }
    .removeImgButton{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      top: -3%;
      right: -2%;
      padding: 5px;
      background-color: white;
      border: solid 1px lightgray;
      transition: 0.3s;
    }
    .removeImgButton:hover{
      transform: scale(1.05);
    }
    .imgIndicator{
      position: absolute;
      top: 15px;
      left: 2%;
    }
    #fichaImages{
      position: relative;
    }
    #addImage{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
      cursor: pointer;
      transform: translate(-50%, 0);
      position: absolute;
      top: 50%;
      right: 3%;
      color: white;
      cursor: pointer;
      transition: 0.3s;
    }
    #addImage:hover{
      transform: translate(-50%, -10%);
    }

    .textArea{
      min-height: 100px;
      resize: none;
      transition: 0.3s;
    }

    .textArea::-webkit-scrollbar {
      display: none;
    }

    .textAreaDisable{
      pointer-events: none;
      border-color: transparent;
    }
    .dropdown .dropdown-menu{
      transform: translate(18%, 42px) !important;
    }
    .disableToggle{
      pointer-events: none;
      cursor: default;
      opacity: 0.7;
    }
    #removeImageEncabezado{
      color: red; 
      font-size: 15px; 
      cursor: pointer;
      transition: 0.3s;
    }
    #addImageEncabezado{
      color: green; 
      font-size: 15px; 
      cursor: pointer;
      transition: 0.3s;
    }

    .hideBtnRemoveImg{
      opacity: 0;
      pointer-events: none;
    }

    .iconBlancosBiologicos {
      width: 50px; 
      height: 50px; 
      border-radius: 50%;
      box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
      border: solid 1px lightgray;
      padding: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
    .iconBlancosBiologicos:hover{
      transform: scale(1.1);
    }
    .iconBlancosBiologicosActive{
      border: solid 2px lightblue
    }
    #imgContainer{
      transition: 0.3s;
    }
    #imgEncabezadoContainer{
      height: 350px; 
      border: solid 1px transparent; 
      border-radius: 0.5rem;
      transition: 0.3s;
    }
    .hoverCards{
      transition: 0.3s;
    }
    .hoverCards:hover{
      background-color: lightgray;
    }
    .btnColor{
      background-image: none !important;
      background-color: #4CAF50 !important;
    }

    .catalogPaginator{
      border-radius: 0.5rem; 
      cursor: pointer;
      transition: 0.3s;
    }
    .navigatorLi{
      border-radius: 0.5rem; 
      cursor: pointer;
      transition: 0.3s;
    }
    .navigatorActive{
      box-shadow: 0 0px 10px 0 rgb(0 0 0 / 15%);
      background-color: white;
    }
    .navigatorLink{
      color: #344767; 
      font-size: 17px; 
      font-weight: 500;
    }
    .navigatorLink:hover{
      color: #344767; 
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %>

  <main class="main-content max-height-vh-100 h-100" id-item="<%- id %>">

    <!-- Navbar -->
    <%- include('./partials/head.ejs') %>

    <!-- Cotent -->
    <div class="p-4 m-4">
      
      <!-- Paginador -->
      <div class="">
        <ul style="display: flex; gap: 5px; list-style-type: none; background: #f8f9fa; border-radius: 0.75rem; padding: 0;">
          <li id="sectionEncabezado" class="flex-fill text-center catalogPaginator navigatorActive" onclick='$(".fichaPage").hide(); $("#fichaEncabezado").fadeIn(); $(".catalogPaginator").removeClass("navigatorActive"); $(this).addClass("navigatorActive")'>
            <a class="nav-link mb-0 px-0 py-1 navigatorLink" >
              Encabezado ficha
            </a>
          </li>
          <li id="sectionImagenes" class="flex-fill text-center catalogPaginator" onclick='$(".fichaPage").hide(); $("#fichaImages").fadeIn(); $(".catalogPaginator").removeClass("navigatorActive"); $(this).addClass("navigatorActive")'>
            <a class="nav-link mb-0 px-0 py-1 navigatorLink" >
              Imágenes Ficha
            </a>
          </li>
          <li id="sectionDetalle" class="flex-fill text-center catalogPaginator" onclick='$(".fichaPage").hide(); $("#fichaDetalle").fadeIn(); textAreaSize(); $(".catalogPaginator").removeClass("navigatorActive"); $(this).addClass("navigatorActive")'>
            <a class="nav-link mb-0 px-0 py-1 navigatorLink" >
              Detalle Ficha
            </a>
          </li>
          <li id="sectionBB" class="flex-fill text-center catalogPaginator" onclick='$(".fichaPage").hide(); $("#fichaBlancosBiologicos").fadeIn(); $(".catalogPaginator").removeClass("navigatorActive"); $(this).addClass("navigatorActive")'>
            <a class="nav-link mb-0 px-0 py-1 navigatorLink" >
              Blancos Biologicos
            </a>
          </li>
          <li id="sectionMapa" class="flex-fill text-center catalogPaginator" >
            <a class="nav-link mb-0 px-0 py-1 navigatorLink" >
              Geolocalización Ficha
            </a>
          </li>
        </ul>
      </div>

      <div class="card ">
        <!-- Ficha Encabezado -->
        <div id="fichaEncabezado" class="fichaPage" > 
          <div class="d-flex w-100 p-3">
            <div class="w-40" style="padding-left: 15px; padding-top: 17px;">
              <div class="">
                <label for="fichaName">Nombre Ficha</label>
                <input type="text" id="fichaName" class="form-control inputsText textAreaDisable" value="">
              </div>
              <div class=" mt-2">
                <label for="fichaTitle">Titulo Ficha</label>
                <input type="text" id="fichaTitle" class="form-control inputsText textAreaDisable" value="">
              </div>
              <div class=" mt-2">
                <label for="fichaGenericName">Nombre Génerico</label>
                <input type="text" id="fichaGenericName" class="form-control inputsText textAreaDisable" value="">
              </div>
              <div class="form-check form-switch ps-0  mt-2 ">
                <label for="">Estado</label>
                <div class="d-flex align-items-center gap-2 ms-2">
                  <div> 
                    <h6  class="m-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Inactivo</h6>
                  </div>
                  <div>
                    <input class="form-check-input m-0 disableToggle" type="checkbox" id="toggleButton" checked="" >
                  </div>
                  <div>
                    <h6 class="m-0 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Activo</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-60 text-center p-3">
              <div style="text-align: left;">
                <label for="">Imagen Ficha</label>
              </div>
              <div  id="imgEncabezadoContainer" class="p-1">
                <img src="" alt="" class="imgCard" id="imgEncabezado">
              </div>
              <div id="removeImageEncabezado" style="display: none;">
                <div onclick="removeImageEncabezado()" class="d-flex justify-content-center align-items-center gap-2 imgEncabezadoAddRemove hideBtnRemoveImg">
                  <i class="fa fa-trash" ></i>
                  <p class="m-0">Eliminar Foto</p>
                </div>
              </div>
              <div id="addImageEncabezado">
                <div onclick="addImageEncabezado()" class="d-flex justify-content-center align-items-center gap-2 imgEncabezadoAddRemove hideBtnRemoveImg">
                  <i class="fas fa-plus-square"></i>
                  <p class="m-0">Agregar Foto</p>
                </div>
              </div>
              <div id="inputNewImgEncabezado" style="position: fixed; top: -200%;"></div>
            </div>
          </div>
        </div>

        <!-- Ficha Imagenes -->
        <div id="fichaImages" class="fichaPage"  style="display: none;" style="min-height: 150px;">
          <div class="imgIndicator">
            <h6 class="font-size xs"><span id="imagesAmount"></span>/5  Imagenes</h6>
          </div>
            <div id="imgContainer" class="d-flex gap-3 alig-items-center justify-content-center p-5" > <!-- Contenido Dinamico--> </div>
          <div id="addImage" class=" bg-primary" style="display: none;">
            <div class="d-flex justify-content-center align-items-center h-100 btnColor" style="border-radius: 50%;">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div id="inputsContainer" style="position: fixed; top: -200%;"></div>
        </div>

        <!-- Ficha Detalle -->
        <div id="fichaDetalle" class="fichaPage p-3" style="display: none;">
          <div class="">
            <ul class=""" style="display: flex; gap: 5px; list-style-type: none; background: #f8f9fa; border-radius: 0.75rem; padding: 0;" id="detallePaginador">
              <!-- Contenido Dinamico-->
            </ul>
          </div>
          <div id="detailContainer" class="px-3">
            <!-- Contenido Dinamico-->
          </div>
        </div>

        <!-- Blancos Biologicos -->
        <div id="fichaBlancosBiologicos" class="fichaPage p-4" style="display: none;">
          <div class="d-flex gap-3 my-3 justify-content-center" id="BBicons"> <!-- Contenido Dinamico--> </div>
          <div>
            <h6 id="relatedElementsBBpageName" class="text-center"></h6> 
            <div class="d-flex" id="relatedElementsBB"> <!-- Contenido Dinamico--></div>
          </div>
        </div>

        <!-- Footer Page -->
        <hr class="horizontal dark mt-0">
        <div class="d-flex justify-content-between align-items-center mb-2 mx-4">
          <div id="backCatalog" style="cursor: pointer;" class="d-flex justify-contet-center align-items-center gap-2">
            <i class="fas fa-chevron-left"></i>
            <h6 class="text-s m-0" onclick="history.back()">Volver al catalogo</h6>
          </div>
          <div class="d-flex justify-content-end" style="width: 150px;">
            <button onclick="sendData()" class="btn btn-primary m-0 btnColor" id="saveButton" style="display: none;">
              <i class="far fa-save ms-2"></i>
              Guardar
            </button>
            <button class="btn btn-primary  m-0 btnColor" id="editButton">
              <i class="fas fa-edit ms-2"></i>
              Editar
            </button>
          </div>
        </div> 

      </div>
    </div>
      
  </main>

  <!--   Core JS Files   -->
  <script src="../js/core/popper.min.js"></script>
  <script src="../js/core/bootstrap.min.js"></script>
  <script src="../js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../js/plugins/choices.min.js"></script>
  <!-- Kanban scripts -->
  <script src="../js/plugins/dragula/dragula.min.js"></script>
  <script src="../js/plugins/jkanban/jkanban.js"></script>
  <!-- Jquery -->
  <script src="../js/jquery.js"></script>
  <script src="../js/jquery-ui.min.js"></script>
  <!-- Underscore -->
  <script src="../js/underscore-min.js"></script>
  <!-- Script Plantilla -->
  <script src="../js/soft-ui-dashboard.min.js?v=1.0.3"></script>

  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {return new bootstrap.Tooltip(tooltipTriggerEl)})

    const handleJSON = (s) => {
      if (s == null && s == "") { return }
      // Remove special characters
      s = s.replace(/\\n/g, "\\n")  
           .replace(/\\'/g, "\\'")
           .replace(/\\"/g, '\\"')
           .replace(/\\&/g, "\\&")
           .replace(/\\r/g, "\\r")
           .replace(/\\t/g, "\\t")
           .replace(/\\b/g, "\\b")
           .replace(/\\f/g, "\\f")
           .replace(/[\u0000-\u0019]+/g,"")
           .replace(/\n/g, "\\n") 
      //  Casos especiales
           .replace('"spray"', "") 
           .replace('"."', '."')
           .replace('"Irritante', `'Irritante`)
           .replace('día"', `día'`)
           .replace('"Ascophyllum Nodosum" ', `'Ascophyllum Nodosum'`) 
           .replace('"Fabricante:', '"Fabricante -')
           .replace('"S', 'S')
           .replace('Socio ","', '"Socio","')
           .replace(':S', ':"S')
           .replace('""I', '"I'); 
      try {
        return JSON.parse(s)
      } catch (error) {
        console.log("Error parseando respuesta, comuniquese con soporte")        
      }
    }
    
    //  Controlar modo vista y editar
    $("#editButton").on("click", function () {
      $(this).hide();
      $(".removeImgButton").show();
      $("#addImage").show()
      $("#saveButton").show();
      $("#imgContainer").attr("style", "margin-right: 70px")
      $(".textArea").removeClass("textAreaDisable");
      $("#addRelatedProduct").show();
      $(".inputsText").removeClass("textAreaDisable");
      $("#toggleButton").removeClass("disableToggle");
      $(".imgEncabezadoAddRemove").removeClass("hideBtnRemoveImg");
      $(".addRelatedElementsBB").show();
      $("#imgEncabezadoContainer").css("border-color", "lightgray")
    });

    $("#saveButton").on("click", function () {
      $(this).hide();
      $(".removeImgButton").hide();
      $("#addImage").hide()
      $("#editButton").show();
      $("#imgContainer").attr("style", "margin-right: 0px")
      $(".textArea").addClass("textAreaDisable");
      $("#addRelatedProduct").hide();
      $(".inputsText").addClass("textAreaDisable");
      $("#toggleButton").addClass("disableToggle");
      $(".imgEncabezadoAddRemove").addClass("hideBtnRemoveImg");
      $(".addRelatedElementsBB").hide();
      $("#imgEncabezadoContainer").css("border-color", "transparent")
    });

    //  Esconder secciones dependiendo del catálogo desde el que se abra
    const handleSectionByCatalog = (catalog) => {
      if (catalog == "Productos") {
        $("#sectionImagenes").remove()
        $("#sectionBB").remove()
        $("#sectionMapa").remove()
      }
      if (catalog != "Cultivos") {
        $("#sectionBB").remove()
      }
      $("#sectionMapa").remove() // Esconder Geolocalización por defecto ya que ninguna ficha recibe esta info
    }

    //  Image events
    $(document).on("click", ".removeImgButton", function () {
      let imgContainer = $(this).closest(".fichaImages");
      let id = Number($(this).parent().attr("id"))
      $(imgContainer).remove();
      imageAmountIndicator();
      fetch("http://104.236.159.193:3010/catalogo_detalle_imagen/"+id)
    })

    //  Detalle Imagenes
    $("#addImage").on("click", function () {
      let imagesAmount = $("#imgContainer").find(".fichaImages").length
      if (imagesAmount == 5) { alert("No es posible agregar más imagenes, elimine alguna antes de insertar otra"); return}

      let element = `
        <div class="inputField">
          <input type="file" name="" id="imgInput${imagesAmount + 1}" accept="image/*">
        </div>
      `;
      $("#inputsContainer").append(element);

      let inputFile = $("#inputsContainer input").last();
      $(inputFile).change(function () {
        let file = $(this).prop('files')[0];
        if (file) {
          let url = URL.createObjectURL(file);
          let element = `
            <div class="fichaImages d-flex flex-column align-items-center text-center pb-3" style="position: relative;">
              <img class="imgCard" src="${url}" alt="">
              <h6 class="font-weight-bold"></h6>
              <div class="removeImgButton" >
                <div class="d-flex justify-content-center alig-items-center"><i class="fas fa-times"></i></div>
              </div>
            </div>
          `;
          $("#imgContainer").append(element);
          imageAmountIndicator();
        }
      });

      inputFile.trigger('click');
    });
    
    const removeImageEncabezado = () => {
      $("#imgEncabezado").attr("src", "");
      $("#addImageEncabezado").show();
      $("#removeImageEncabezado").hide();

      let id = Number($("main").attr("id-item"))
      fetch("http://104.236.159.193:3010/catalogo_imagen/"+id) 
    }

    const addImageEncabezado = () => {
      $("#inputNewImgEncabezado").html("");
      let element = ` 
        <form id="newImgEncabezadoForm" method="POST" action="" enctype="multipart/form-data" onchange="updateImg"> 
          <input type="file" name="" id="newImgEncabezado" accept="image/*">
        </form>
      `;
      $("#inputNewImgEncabezado").append(element);
      $("#newImgEncabezado").trigger('click');
    }

    const imageAmountIndicator = () =>{
      let imagesAmount = $("#imgContainer").find(".fichaImages").length;
      $("#imagesAmount").text(imagesAmount)
    }

    const updateImagesEncabezado = () => {
      let inputsContainer = $("#inputsContainer");
      let inputs = $(inputsContainer).find("input");

      if (inputs.length == 0) {return}
      
      var formData = new FormData();
      formData.append('idcatalogoenc', $("main").attr("id-item"));

      for (let i = 0; i < inputs.length; i++) {
        let myFile = inputs[i].files[0];
        formData.append('archivo', myFile);
        formData.append('nombre_archivo', "imagen_catalogo");
      }
      
      if (inputs.length == 1) {
        formData.append('varios', 0);
      } else {
        formData.append('varios', 1);
      }
      
      fetch('http://104.236.159.193:3010/media/catalogo_detalle', {
        method: 'POST',
        body: formData,
      })
      .then(res => res.json())
      .then(res => {
        console.log("Imane uploaded Successfully")
      });
    }

    const updateImg = () => {
      var myFile = document.querySelector("#newImgEncabezado");
      myFile = myFile.files[0];

      var formData = new FormData($('#newImgEncabezadoForm')[0]);
      formData.append('idcatalogoenc', $("main").attr("id-item"));
      formData.append('archivo', myFile);
      formData.append('nombre_archivo', "imagen_catalogo");

      fetch('http://104.236.159.193:3010/media/catalogo', {
        method: 'POST',
        body: formData,
      })
      .then(res => res.json())
      .then(res => {
        console.log("Imane uploaded Successfully")
      });
    };

    const sendData = () => {
      let data = {
        "id": Number($("main").attr("id-item")),
        "id_catalogo" : Number($("main").attr("id-catalog")),
        "nombre": $("#fichaName").val(),
        "codigo": "",
        "titulo": $("#fichaTitle").val(),
        "subtitulo": $("#fichaGenericName").val(),
        "idtipoproducto": "",
        "estado": ($('#toggleButton').is(':checked') ? "A" : "I"),
        "catalogo_detalle" : [],
        "catalogo_producto": [],
        "catalogo_blanco_biologico": []
      };

      let fields = $(".dataHarvest");
      for (let i = 0; i < fields.length; i++) {
        data.catalogo_detalle.push({
          "id_catalogo_propiedad": Number($(fields[i]).attr("data-propiedad")),
          "id_catalogo_seccion":  Number($(fields[i]).attr("data-seccion")),
          "id_campo_maestro": ($(fields[i]).attr("data-maestro") ? $(fields[i]).attr("data-maestro") : undefined),
          "contenido":$(fields[i]).find("textarea").val(),
          "es_archivo":($(fields[i]).attr("data-isArchivo") ? $(fields[i]).attr("data-isArchivo") : 0),
          "orden": Number($(fields[i]).attr("data-orden"))
        })
      }

      let fieldProducts = $(".dataHarvestProducts");
      for (let i = 0; i < fieldProducts.length; i++) {
        data.catalogo_producto.push({
          "id_catalogo_encabezado_producto": Number($(fieldProducts[i]).attr("data-id")),
          "dosis": "Dosis no agregada",
        })
      }

      let fieldBB = $(".dataHarvestBB");
      for (let i = 0; i < fieldBB.length; i++) {
        data.catalogo_blanco_biologico.push({
          "id_blanco_biologico": Number($(fieldBB[i]).attr("data-id")),
          "id_tipo_catalogo": Number($(fieldBB[i]).attr("data-catalog"))
        })
      }
    
      fetch('http://104.236.159.193:3010/catalogo', {
        method: 'POST',
        headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
        body: JSON.stringify(data)
      })
      .then(res => res.json())
      .then(res => {
        console.log(res)
        if (res.success) {} 
        // if (res.success) {location.reload()} 
        else {console.error("No fue posbile actualizar la ficha")}
      });

      updateImagesEncabezado();
    };

    $(document).on("change", "#newImgEncabezado", function () {
      let file = $(this).prop('files')[0];
      if (file) {
        let url = URL.createObjectURL(file);
        $("#imgEncabezado").attr("src", url);
        $("#addImageEncabezado").hide()
        $("#removeImageEncabezado").show()
      }
    });

    const textAreaSize = (element) => {
      if (element) { 
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
        return
      }
      let textAreas = $(".textArea")
      for (let i = 0; i < textAreas.length; i++) {
        textAreas[i].style.height = "5px";
        textAreas[i].style.height = (textAreas[i].scrollHeight)+"px";
      }
    }

    // Funciones seccion productos y blancos biológicos
    $(document).on("click", ".cardBlancosBiologicos", function (params) {
      let container = $(this).parent().parent().parent().siblings(".relatedElementsBBpage");
      let img = $(this).attr("data-img")
      let nombre = $(this).attr("data-n")
      let titulo = $(this).attr("data-t")
      let subtitulo = $(this).attr("data-s")
      let id = $(this).attr("id")
      let idCatalog = $(this).attr("id-catalog")

      let element = `
        <div class="d-flex align-items-center my-2 hoverCards dataHarvestBB" data-id="${id}" data-catalog="${idCatalog}" style="padding: 10px; border-radius: 0.5rem">
          <div style="width: 80px; height: 80px; min-width: 80px" class="me-1 rounded">
            <img src="http://104.236.159.193:3010/${img}" alt="" class="imgCard" style="object-fit: cover; width: 100%; height: 100%">
          </div>
          <div class="ms-2">
            <h6 style="text-align: left; font-size: 13px;" class="font-weight-bolder opacity-7 m-0" >
              <span >${nombre}</span> <br>
              <span>${titulo}</span> <br>
              <span>${subtitulo}</span>
            </h6>
          </div>
        </div>
        <hr class="horizontal dark mt-0">
      `
      $(this).remove()
      $(container).append(element)
    })

    $(document).on("click", ".relateProduct", function () {
      let id = $(this).attr("id");
      let img = $(this).attr("data-img");
      let nombre = $(this).attr("data-n");
      let titulo = $(this).attr("data-t");
      let subtitulo = $(this).attr("data-s");

      let element = `
        <div class="d-flex align-items-center my-2 dataHarvestProducts" data-id="${id}">
          <div style="width: 80px; height: 80px; min-width: 80px" class="me-1 border rounded">
            <img src="http://104.236.159.193:3010/${img}" alt="" class="imgCard" style="object-fit: cover; width: 100%; height: 100%">
          </div>
          <div>
            <h6 style="text-align: left; font-size: 13px;" class="font-weight-bolder opacity-7 m-0" >
              <span >${nombre}</span> <br>
              <span>${titulo}</span> <br>
              <span>${subtitulo}</span>
            </h6>
          </div>
        </div>
        <hr class="horizontal dark mt-0">
      `;
      $(this).remove();
      $("#detailRelatedProducts").append(element);
    })

    $(document).on("click", ".iconBlancosBiologicos", function () {
      $(".iconBlancosBiologicos").removeClass("iconBlancosBiologicosActive");
      $(this).addClass("iconBlancosBiologicosActive")
      $("#relatedElementsBBpageName").text($(this).attr("name"))
    })

    const printData = (detailProducto, detailPropiedad, catalogos) => {
      //  Encabezado ficha
      let datosEncabezado = detailPropiedad.catalogo_detalle_propiedad[0],
          detalleFicha = detailPropiedad.catalogo_detalle_propiedad;

      // Detalle ficha
      let imagesFicha = detailProducto.catalogo_detalle_imagen,
          productosFicha = detailProducto.catalogo_detalle_producto,
          blancosBiologicos = detailProducto.catalogo_detalle_blancos_biologicos;

      // Productos
      let productsList = catalogos.productos,
          catalogoCultivos = catalogos.cultivos,
          catalogoPlagas = catalogos.plagas,
          catalogoEnfermedades = catalogos.enfermedades,
          catalogoMalezas = catalogos.malezas;

      // ** Encabezado
      $("#fichaName").val(datosEncabezado.nombre)
      $("#fichaTitle").val(datosEncabezado.titulo_catalogo)
      $("#fichaGenericName").val(datosEncabezado.subtitulo)

      if (datosEncabezado.foto) {
        $("#imgEncabezado").attr("src", "http://104.236.159.193:3010/"+datosEncabezado.foto)
        $("#addImageEncabezado").hide();
        $("#removeImageEncabezado").show();
      } 

      if (datosEncabezado.estado == "A") {
        $("#toggleButton").prop("checked", true);
      } else {
        $("#toggleButton").prop("checked", false);
      }

      // ** Imagenes
      for (let i = 0; i < imagesFicha.length; i++) {
        console.log(imagesFicha)
        let element = `
          <div class="fichaImages d-flex flex-column align-items-center text-center pb-3" style="position: relative;" id="${imagesFicha[i].id}">
            <img class="imgCard" src="http://104.236.159.193:3010/${imagesFicha[i].ruta_imagen}" alt="">
            <h6 class="font-weight-bold"></h6>
            <div class="removeImgButton" style="display: none;">
              <div class="d-flex justify-content-center alig-items-center"><i class="fas fa-times"></i></div>
            </div>
          </div>
        `;
        $("#imgContainer").append(element);
      }

      // ** Detalle
      let sections = [];
      // Get sections
      for (let i = 0; i < detalleFicha.length; i++) {
        if (!sections.includes(detalleFicha[i].seccion)) {
          sections.push(detalleFicha[i].seccion)
        }
      }
      // Create paginator and sections
      for (let i = 0; i < sections.length; i++) {
        let isActive;
        if (i == 0) {isActive = "navigatorActive"}

        let navName = sections[i].replace(/\s+/g, '');
        let elementP = `
          <li class="flex-fill text-center navigatorLi ${isActive}" onclick='$(".detailPage").hide(); $("#detailContainer${navName}").fadeIn(); textAreaSize(); $(".navigatorLi").removeClass("navigatorActive"); $(this).addClass("navigatorActive")'>
            <a class="nav-link mb-0 px-0 py-1 navigatorLink" >
              ${sections[i]}
            </a>
          </li>
        `;

        let statePage;
        if (!i == 0) { statePage = "style='display: none'"} else { statePage = ""}
        let elementS = `
          <div id="detailContainer${navName}" class="detailPage" ${statePage}> </div>
        `;
        $("#detallePaginador").append(elementP)
        $("#detailContainer").append(elementS)
      }

      // Load sections Content
      for (let i = 0; i < detalleFicha.length; i++) {
        if (detalleFicha[i].seccion == "Productos") { //Elementos fantasma para la recolleccion de datos, 
          let element = `
          <div style="display: none" class="dataHarvest" data-propiedad="${detalleFicha[i].id_catalogo_propiedad}" data-seccion="${detalleFicha[i].id_catologo_seccion}" data-maestro="${detalleFicha[i].campo_maestro}" data-orden="${detalleFicha[i].orden_propiedad}" data-isArchivo="${detalleFicha[i].foto}">
            <textarea name="" id="" class="form-control textArea textAreaDisable"></textarea>
          </div>
          `;
          let navName = detalleFicha[i].seccion.replace(/\s+/g, '');
          $("#detailContainer"+navName).append(element)
          continue
        } 

        let element = `
          <div class="mt-2 mb-3 px-3 dataHarvest" data-propiedad="${detalleFicha[i].id_catalogo_propiedad}" data-seccion="${detalleFicha[i].id_catologo_seccion}" data-maestro="${detalleFicha[i].campo_maestro}" data-orden="${detalleFicha[i].orden_propiedad}" data-isArchivo="${detalleFicha[i].foto}">
            <h6 class="text-muted">${detalleFicha[i].titulo}</h6>
            <textarea name="" id="" class="form-control textArea textAreaDisable" oninput="textAreaSize(this)" >${detalleFicha[i].contenido}</textarea>
          </div>
        `;
        let navName = detalleFicha[i].seccion.replace(/\s+/g, '');
        $("#detailContainer"+navName).append(element)
      }

      // Load products detail 
      if (sections.includes("Productos")) {
        let element = `
          <div class="d-flex">
            <div class="w-45 mt-2 ps-4" style="display: none;" id="addRelatedProduct">
              <h6>Relacionar Producto</h6>
              <div class="dropdown">
                <a href="javascript:;" class="btn bg-gradient-dark dropdown-toggle " data-bs-toggle="dropdown" id="navbarDropdownMenuLink2">
                    Lista Productos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" id="detailRelatedProductsListComplete"></ul>
              </div>
            </div>
            <div class="mt-2 w-40" style="margin: 0 auto; text-align: left;" id="detailRelatedProducts">
              <div class="text-center my-1">
                <h6>Productos Relacionados</h6>
              </div>
            </div>
          </div>
        `;
        $("#detailContainerProductos").append(element);

        for (let i = 0; i < productsList.length; i++) {
          let productExist = _.findWhere(productosFicha, {id: productsList[i].id}); // La seccion de productos tiene una estructura diferente
          if (productExist) {continue}

          let elementL = `
            <li id="${productsList[i].id}" class="relateProduct" data-img="${productsList[i].foto}" data-n="${productsList[i].nombre}" data-t="${productsList[i].titulo}" data-s="${productsList[i].subtitulo}">
              <a class="dropdown-item" href="javascript:;">
                <div class="d-flex align-items-center gap-1">
                  <div style="width: 50px; height: 50px;">
                    <img src="http://104.236.159.193:3010/${productsList[i].foto}" class="imgCard"/> 
                  </div>
                  <h6 style="text-align: left; font-size: 13px;" class="font-weight-bolder opacity-7 m-0" >
                    <span >${productsList[i].nombre}</span> <br>
                    <span>${productsList[i].subtitulo}</span> <br>
                  </h6>
                </div>
              </a>
            </li>
          `;
          $("#detailRelatedProductsListComplete").append(elementL);
        }

        for (let i = 0; i < productosFicha.length; i++) {
          let elementP = `
            <div class="d-flex align-items-center my-2 dataHarvestProducts" data-id="${productosFicha[i].id}">
              <div style="width: 80px; height: 80px; min-width: 80px" class="me-1 border rounded">
                <img src="http://104.236.159.193:3010/${productosFicha[i].foto}" alt="" class="imgCard" style="object-fit: cover; width: 100%; height: 100%">
              </div>
              <div>
                <h6 style="text-align: left; font-size: 13px;" class="font-weight-bolder opacity-7 m-0" >
                  <span >${productosFicha[i].nombre}</span> <br>
                  <span>${productosFicha[i].subtitulo}</span> <br>
                  <span>${productosFicha[i].dosis}</span>
                </h6>
              </div>
            </div>
            <hr class="horizontal dark mt-0">

          `;
          $("#detailRelatedProducts").append(elementP);
        }

        // ** Blancos Biologicos
        let sectionsBlancosBiologicos = [2, 3, 4]; 
        for (let i = 0; i < sectionsBlancosBiologicos.length; i++) {
          let icon;
          let iconName;
          switch (sectionsBlancosBiologicos[i]) {
            case 1:
              icon = "http://api.pedbox.co:8850/images/icono_cultivos.png"
              iconName = "Cultivos"
              break;
            case 2:
              icon = "http://api.pedbox.co:8850/images/icono_enfermedades.png"
              iconName = "Enfermedades"
              break;
            case 3:
              icon = "http://api.pedbox.co:8850/images/icono_malezas.png"
              iconName = "Malezas"
              break;
            case 4:
              icon = "http://api.pedbox.co:8850/images/icono_plagas.png"
              iconName = "Plagas"
              break;
            case 5:
              icon = "http://api.pedbox.co:8850/images/icono_productos.png"
              iconName = "Productos"
              break;
          }

          let isActive;
          if (i == 0) {isActive = "iconBlancosBiologicosActive"} else {isActive = ""}
          let element = `
            <div class="bg-gray-100 iconBlancosBiologicos ${isActive}" name="${iconName}"><img src="${icon}" alt="" class="imgCard" id="BBtipo${sectionsBlancosBiologicos[i]}" onclick='$(".pageBB").hide(); $("#pageBB${sectionsBlancosBiologicos[i]}").fadeIn();'></div>
          `;

          let isVisible;
          if (!i == 0) {isVisible = "style='display: none'"} else {isVisible = ""; $("#relatedElementsBBpageName").text(iconName)}
          let elementC = `
            <div class="pageBB w-100" id="pageBB${sectionsBlancosBiologicos[i]}" ${isVisible} >
              <div class="d-flex">
                <div class="w-45 mt-2 ps-4 addRelatedElementsBB" style="display: none">
                  <h6>Relacionar Item </h6>  
                  <div class="dropdown">
                    <a href="javascript:;" class="btn bg-gradient-dark dropdown-toggle " data-bs-toggle="dropdown" id="DropdownBB${sectionsBlancosBiologicos[i]}">
                        Lista Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="DropdownBB${sectionsBlancosBiologicos[i]}" id="DropdownBBContainer${sectionsBlancosBiologicos[i]}"></ul>
                  </div>  
                </div>
                <div class="w-40 mt-2 relatedElementsBBpage" style="margin: 0 auto; text-align: left;"> 
                </div>
              </div>
            </div>
          `;
          $("#BBicons").append(element)
          $("#relatedElementsBB").append(elementC)
        };

        for (let i = 0; i < sectionsBlancosBiologicos.length; i++) {
          let dataBB;
          switch (sectionsBlancosBiologicos[i]) {
            case 1:
              dataBB = catalogoCultivos
              break;
            case 2:
              dataBB = catalogoEnfermedades
              break;
            case 3:
              dataBB = catalogoMalezas
              break;
            case 4:
              dataBB = catalogoPlagas
              break;
            case 5:
              dataBB = productsList
              break;
          }

          let printCase = _.where(blancosBiologicos, {id_tipo_catalogo: sectionsBlancosBiologicos[i]});
          let existBB = [];
          for (let e = 0; e < printCase.length; e++) {
            if (!existBB.includes(printCase[e].id)) {
              existBB.push(printCase[e].id)
            }

            let element = `
              <div class="d-flex align-items-center my-2 hoverCards dataHarvestBB" data-id="${printCase[e].id}" data-catalog="${printCase[e].id_tipo_catalogo}" style="padding: 10px; border-radius: 0.5rem">
                <div style="width: 80px; height: 80px; min-width: 80px" class="me-1 rounded">
                  <img src="http://104.236.159.193:3010/${printCase[e].foto}" alt="" class="imgCard" style="object-fit: cover; width: 100%; height: 100%">
                </div>
                <div class="ms-2">
                  <h6 style="text-align: left; font-size: 13px;" class="font-weight-bolder opacity-7 m-0" >
                    <span >${printCase[e].nombre}</span> <br>
                    <span>${printCase[e].titulo}</span> <br>
                    <span>${printCase[e].subtitulo}</span>
                  </h6>
                </div>
              </div>
              <hr class="horizontal dark mt-0">
            `;
            $("#pageBB"+sectionsBlancosBiologicos[i]).find(".relatedElementsBBpage").append(element);
          };

          for (let o = 0; o < dataBB.length; o++) {
            if (existBB.includes(dataBB[o].id)) {continue}
            let element = `
              <li id="${dataBB[o].id}" id-catalog="${dataBB[o].id_catalogo}" class="cardBlancosBiologicos" data-img="${dataBB[o].foto}" data-n="${dataBB[o].nombre}" data-t="${dataBB[o].titulo}" data-s="${dataBB[o].subtitulo}">
                <a class="dropdown-item" href="javascript:;">
                  <div class="d-flex align-items-center gap-1" >
                    <div style="width: 50px; height: 50px;">
                      <img src="http://104.236.159.193:3010/${dataBB[o].foto}" class="imgCard" style="object-fit: cover; width: 100%; height: 100%"/> 
                    </div>
                    <h6 style="text-align: left; font-size: 13px;" class="font-weight-bolder opacity-7 m-0" >
                      <span >${dataBB[o].nombre}</span> <br>
                      <span>${dataBB[o].subtitulo}</span> <br>
                    </h6>
                  </div>
                </a>
              </li>
            `;
            $(`#DropdownBBContainer${dataBB[o].id_catalogo}`).append(element)
          };
        }
      }
    }

    const printMastersProducts = () => {
      let element = `
          <div class="d-flex">
            <div class="w-45 mt-2 ps-4" style="display: none;" id="addRelatedProduct">
              <h6>Relacionar Producto</h6>
              <div class="dropdown">
                <a href="javascript:;" class="btn bg-gradient-dark dropdown-toggle " data-bs-toggle="dropdown" id="navbarDropdownMenuLink2">
                    Lista Productos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" id="detailRelatedProductsListComplete"></ul>
              </div>
            </div>
            <div class="mt-2 w-40" style="margin: 0 auto; text-align: left;" id="detailRelatedProducts">
              <div class="text-center my-1">
                <h6>Productos Relacionados</h6>
              </div>
            </div>
          </div>
        `;
        $("#detailContainerProductos").append(element);

        for (let i = 0; i < productsList.length; i++) {
          let productExist = _.findWhere(productosFicha, {id: productsList[i].id}); // La seccion de productos tiene una estructura diferente
          if (productExist) {continue}

          let elementL = `
            <li id="${productsList[i].id}" class="relateProduct" data-img="${productsList[i].foto}" data-n="${productsList[i].nombre}" data-t="${productsList[i].titulo}" data-s="${productsList[i].subtitulo}">
              <a class="dropdown-item" href="javascript:;">
                <div class="d-flex align-items-center gap-1">
                  <div style="width: 50px; height: 50px;">
                    <img src="http://104.236.159.193:3010/${productsList[i].foto}" class="imgCard"/> 
                  </div>
                  <h6 style="text-align: left; font-size: 13px;" class="font-weight-bolder opacity-7 m-0" >
                    <span >${productsList[i].nombre}</span> <br>
                    <span>${productsList[i].subtitulo}</span> <br>
                  </h6>
                </div>
              </a>
            </li>
          `;
          $("#detailRelatedProductsListComplete").append(elementL);
        }
    }


    const prinMastersBB = () => {
      // ** Blancos Biologicos
      let sectionsBlancosBiologicos = [2, 3, 4]; 
      for (let i = 0; i < sectionsBlancosBiologicos.length; i++) {
        let icon;
        let iconName;
        switch (sectionsBlancosBiologicos[i]) {
          case 1:
            icon = "http://api.pedbox.co:8850/images/icono_cultivos.png"
            iconName = "Cultivos"
            break;
          case 2:
            icon = "http://api.pedbox.co:8850/images/icono_enfermedades.png"
            iconName = "Enfermedades"
            break;
          case 3:
            icon = "http://api.pedbox.co:8850/images/icono_malezas.png"
            iconName = "Malezas"
            break;
          case 4:
            icon = "http://api.pedbox.co:8850/images/icono_plagas.png"
            iconName = "Plagas"
            break;
          case 5:
            icon = "http://api.pedbox.co:8850/images/icono_productos.png"
            iconName = "Productos"
            break;
        }

        let isActive;
        if (i == 0) {isActive = "iconBlancosBiologicosActive"} else {isActive = ""}
        let element = `
          <div class="bg-gray-100 iconBlancosBiologicos ${isActive}" name="${iconName}"><img src="${icon}" alt="" class="imgCard" id="BBtipo${sectionsBlancosBiologicos[i]}" onclick='$(".pageBB").hide(); $("#pageBB${sectionsBlancosBiologicos[i]}").fadeIn();'></div>
        `;

        let isVisible;
        if (!i == 0) {isVisible = "style='display: none'"} else {isVisible = ""; $("#relatedElementsBBpageName").text(iconName)}
        let elementC = `
          <div class="pageBB w-100" id="pageBB${sectionsBlancosBiologicos[i]}" ${isVisible} >
            <div class="d-flex">
              <div class="w-45 mt-2 ps-4 addRelatedElementsBB" style="display: none">
                <h6>Relacionar Item </h6>  
                <div class="dropdown">
                  <a href="javascript:;" class="btn bg-gradient-dark dropdown-toggle " data-bs-toggle="dropdown" id="DropdownBB${sectionsBlancosBiologicos[i]}">
                      Lista Productos
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="DropdownBB${sectionsBlancosBiologicos[i]}" id="DropdownBBContainer${sectionsBlancosBiologicos[i]}"></ul>
                </div>  
              </div>
              <div class="w-40 mt-2 relatedElementsBBpage" style="margin: 0 auto; text-align: left;"> 
              </div>
            </div>
          </div>
        `;
        $("#BBicons").append(element)
        $("#relatedElementsBB").append(elementC)
      };
    }

    // Sí, todo esto para sacar la id del catalogo
    const getCatalogId = (catalogos) => {
      let idItem = Number($("main").attr("id-item"))

      let catalogId;
      catalogId = _.findWhere(catalogos.cultivos, {id: idItem});
      if (catalogId) {$("main").attr("id-catalog", catalogId.id_catalogo); return}

      catalogId = _.findWhere(catalogos.malezas, {id: idItem});
      if (catalogId) {$("main").attr("id-catalog", catalogId.id_catalogo); return}

      catalogId = _.findWhere(catalogos.plagas, {id: idItem});
      if (catalogId) {$("main").attr("id-catalog", catalogId.id_catalogo); return}

      catalogId = _.findWhere(catalogos.enfermedades, {id: idItem});
      if (catalogId) {$("main").attr("id-catalog", catalogId.id_catalogo); return}

      catalogId = _.findWhere(catalogos.productos, {id: idItem});
      if (catalogId) {$("main").attr("id-catalog", catalogId.id_catalogo); return}
    }

    $(document).ready(function () {
      let id = '<%- id %>';
      
      let detailPropiedad= '<%- detallePropiedad %>';
      detailPropiedad = handleJSON(detailPropiedad);

      let currentCatalog = detailPropiedad.data.catalogo_detalle_propiedad[0].descripcion_catalogo;
      handleSectionByCatalog(currentCatalog);

      let detailProducto= '<%- detalleProducto %>';
      detailProducto = handleJSON(detailProducto)
      
      let detailCatalogoProducts = '<%- catalogoProductos %>';
      detailCatalogoProducts = handleJSON(detailCatalogoProducts)
      
      let detailCatalogoCultivos = '<%- catalogoCultivos %>';
      detailCatalogoCultivos = handleJSON(detailCatalogoCultivos)
      
      let detailCatalogoMaleza = '<%- catalogoMalezas %>';
      detailCatalogoMaleza = handleJSON(detailCatalogoMaleza)
      
      let detailCatalogoPlagas = '<%- catalogoPlagas %>';
      detailCatalogoPlagas = handleJSON(detailCatalogoPlagas)
      
      let detailCatalogoEnfermedades = '<%- catalogoEnfermedades %>';
      detailCatalogoEnfermedades = handleJSON(detailCatalogoEnfermedades)

      var catalogos = {
        "productos" : detailCatalogoProducts.data.catalogo_enc,
        "cultivos" : detailCatalogoCultivos.data.catalogo_enc,
        "malezas" : detailCatalogoMaleza.data.catalogo_enc,
        "plagas" : detailCatalogoPlagas.data.catalogo_enc,
        "enfermedades" : detailCatalogoEnfermedades.data.catalogo_enc
      };

      printData(detailProducto.data, detailPropiedad.data, catalogos);
      getCatalogId(catalogos);
      textAreaSize();
      imageAmountIndicator();
    })
  </script>

</body>
</html>
