<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="http://104.236.159.193:8850/images/logoamigoinvesa.png"/>
  <title>
    Productos
  </title>
  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../css/nucleo-icons.css" rel="stylesheet" />
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
  <!-- Custom QUID classes -->
  <link id="pagestyle" href="/css/custom_classes.css" rel="stylesheet" />

  <style>
    #cardsContainer>div{
      width: 16%;
      transition: 0.3s;
    }
    #cardsContainer>div:hover{
      background-color: lightgrey;
    }
    #cardsContainer h4{
      font-size: 15px !important;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %>

  <main class="main-content max-height-vh-100 h-100">

    <!-- Navbar -->
    <%- include('./partials/head.ejs') %> 

    <!-- Cotent -->
    <div class="p-4 m-4"> 
      <div class="card flex-row p-3 my-2 justify-content-between align-items-center">
        <h6>Movimientos Por Fecha</h6>
        <input type="date" name=""  class="form-control" style="width: 150px" id="dateField" onchange="loadDataByDate($(this).val());"/>
      </div>
      <div id="cardsContainer" class="d-flex gap-1"><!-- Contenido Dinamico --></div>

      <div class="pt-2 " id="chartsContainer" ></div>
    </div>

    <!-- Preloader -->
    <div id="preloader" style="display: none;">
      <div>
        <div class="spinner" style="width: 100px; height: 100px; margin-bottom: 10px;">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
        <h5 style="color: white;">Cargando Contenido ...</h5>
      </div>
    </div>

  </div>
      
  </main>

  <!--   Core JS Files   -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/plugins/choices.min.js"></script>
  <!-- Kanban scripts -->
  <script src="/js/plugins/dragula/dragula.min.js"></script>
  <script src="/js/plugins/jkanban/jkanban.js"></script>
  <!-- Jquery -->
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <!-- Underscore -->
  <script src="/js/underscore-min.js"></script>
  <!-- Script Plantilla -->
  <script src="/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <!-- Chart JS -->
  <script src="/js/plugins/chartjs.min.js"></script>
  <!-- Helpers -->
  <script src="../js/helpers.js"></script>

  <script>
    const handleJSON = (s) => {
      if (s == null && s == "") { return }
      // Remove special characters
      s = s.replace(/\\n/g, "\\n")  
           .replace(/\\'/g, "\\'")
           .replace(/\\"/g, '\\"')
           .replace(/\\&/g, "\\&")
           .replace(/\\r/g, "\\r")
           .replace(/\\t/g, "\\t")
           .replace(/\\b/g, "\\b")
           .replace(/\\f/g, "\\f")
           .replace(/[\u0000-\u0019]+/g,"")
           .replace(/\n/g, "\\n");
           ; 
      // Remove New Lines
      return JSON.parse(s)
    }

    let dataChart = {};
    const loadCards = (data, detail) =>{
      $("#cardsContainer").html("");
      for (const x in data) {
        let detailCard = detail[x];
        let accesChartData = x+"mes";

        try {
          dataChart[x] = detail[x+"mes"];
        } catch (error) {
          dataChart[x] = 0;
        }

        let color;
        switch (x) {
          case "biologico":
            color = "a0aab2"
            break;
          case "coadyuvante":
            color = "E91E63"
            break;
          case "fertilizante":
            color = "FE5621"
            break;
          case "fungicida":
            color = "6639B6"
            break;
          case "insecticida":
            color = "FFC105"
            break;
          case "noselectivo":
            color = "4CAF50"
            break;
          case "noselectivo":
            color = "A0AAB2"
            break;
        }

        let element = `
          <div class="card flex-fill" >
            <div class=" h-100">
              <div class="card-body p-3 d-flex justify-content-center align-items-center flex-column" style="cursor: pointer" >
                <div class="text-center">
                  <h2 style="color: #${color}"> <span>${data[x]}</span></h2>
                  <h4 style="text-transform: capitalize;">${x}</h4> 
                </div> 
                <div style="width: 100%; margin-top: 20px" >   
                  <div class="border-top d-flex justify-content-between" >   
                    <h6>Mes</h6>
                    <h6 class="opacity-7">${detailCard[0].ano}</h6>
                  </div>
                  <div class="border-top d-flex justify-content-between" >   
                    <h6>Año</h6>
                    <h6 class="opacity-7">${detailCard[1].mes}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        `;
        $("#cardsContainer").append(element);
      }
      printChart(dataChart)
    };

    const printChart = (data) =>{
      $("#chartsContainer").html("");
      for (const x in data) {
        if (x == "fertilizante") {continue}

        let dataMonths = [];
        let dataChart = [];

        for (let i = 0; i < data[x].length; i++) {
          dataMonths.push(data[x][i].mes)          
          dataChart.push(data[x][i].numFilas)     
        } 
        
        let element = `
          <div class="chart card p-3 mt-2" style="height: 400px">
            <h6 style="text-transform: capitalize">${x} recomendados por mes</h6>
            <canvas id="${x}" class="chart-canvas" height="300"></canvas>
          </div>
        `;
        $("#chartsContainer").append(element);

        var chartName = document.getElementById(x).getContext("2d");
        new Chart(chartName, {
          type: "bar",
          data: {
            labels: dataMonths,
            datasets: [{
              label: "",
              weight: 5,
              borderWidth: 0,
              borderRadius: 4,
              backgroundColor: chartColor(x),
              data: dataChart,
              fill: false
            }],
            options: {
              maintainAspectRatio: true,
            }
          }
        });
      }
    }

    const chartColor = (item) => {
      switch (item) {
        case "fungicida":
          return "#6639B6"
          break;
        case "selectivo":
          return "#344767"
          break;
        case "noselectivo":
          return "#4EB052"
          break;
        case "insecticida":
          return "#FFC105"
          break;
        case "coadyuvante":
          return "#E91E63"
          break;
        case "biologico":
          return "#B0B7BC"
          break;
      }
    }

    const loadDataByDate = (data) => {
      $("#preloader").show();
      fetch('/informes/productosDate/'+data)
      .then(res => res.json())
      .then(res => {
        $("#preloader").hide();
        general = handleJSON(res.general);
        detail = handleJSON(res.detail);
        loadCards(general.data.cuenta, detail.data.cuenta);
      })
      .catch(error => console.error(error));
    }

    var general = '<%- general %>';
    general = handleJSON(general);
    general = general.data;
    
    var detail = '<%- detail %>';
    detail = handleJSON(detail);
    detail = detail.data;

    let permissionsUser = `<%- JSON.stringify(userData) %>`;
    permissionsUser = handleJSON(permissionsUser);
    permissionsUser = permissionsUser.permisos;


    $(document).ready(function () {
      loadCards(general.cuenta, detail.cuenta);
      handlePermissions(permissionsUser);

      let currentDate = new Date();
      currentDate = currentDate.toISOString().substr(0, 10)
      $("#dateField").val(currentDate)
    })
  </script>

</body>
</html>