<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="http://104.236.159.193:8850/images/logoamigoinvesa.png"/>
  <title>
    Informe Blancos Biologicos
  </title>
  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../css/nucleo-icons.css" rel="stylesheet" />
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />

  <style>
    #cardsContainer>div{
      width: 16%;
      transition: 0.3s;
    }
    #cardsContainer>div:hover{
      background-color: lightgrey;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %>

  <main class="main-content max-height-vh-100 h-100">

    <!-- Navbar -->
    <%- include('./partials/head.ejs') %>

    <!-- Cotent -->
    <div class="p-4 m-4">
      <h6>Movimientos Por Fecha</h6>
      <div id="cardsContainer" class="d-flex gap-1"><!-- Contenido Dinamico --></div>
    </div>
      
  </main>

  <!--   Core JS Files   -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/plugins/choices.min.js"></script>
  <!-- Kanban scripts -->
  <script src="/js/plugins/dragula/dragula.min.js"></script>
  <script src="/js/plugins/jkanban/jkanban.js"></script>
  <!-- Jquery -->
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <!-- Underscore -->
  <script src="/js/underscore-min.js"></script>
  <!-- Script Plantilla -->
  <script src="/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <!-- Helpers -->
  <script src="../js/helpers.js"></script>

  <script>

    const handleJSON = (s) => {
      if (s == null && s == "") { return }
      // Remove special characters
      s = s.replace(/\\n/g, "\\n")  
           .replace(/\\'/g, "\\'")
           .replace(/\\"/g, '\\"')
           .replace(/\\&/g, "\\&")
           .replace(/\\r/g, "\\r")
           .replace(/\\t/g, "\\t")
           .replace(/\\b/g, "\\b")
           .replace(/\\f/g, "\\f")
           .replace(/[\u0000-\u0019]+/g,"")
           .replace(/\n/g, "\\n");
           
      // Remove New Lines
      return JSON.parse(s)
    }

    const loadCards = (data) =>{
      for (const x in data) {
        let color;
        switch (x) {
          case "enfermedades":
            color = "4CAF50"
            break;
          case "malezas":
            color = "FE5621"
            break;
          case "plagas":
            color = "3f51b5"
            break;
        }

        let element = `
          <div class="card flex-fill" >
            <div class=" h-100">
              <div class="card-body p-3 d-flex justify-content-center align-items-center flex-column" style="cursor: pointer" >
                <div class="text-center">
                  <h2 style="color: #${color}"> <span>${data[x]}</span></h2>
                  <h4 style="text-transform: capitalize;">${x}</h4> 
                </div> 
                <div style="width: 100%; margin-top: 20px" >   
                  <div class="border-top d-flex justify-content-between" >   
                    <h6>Mes</h6>
                    <h6 class="opacity-7"></h6>
                  </div>
                  <div class="border-top d-flex justify-content-between" >   
                    <h6>Año</h6>
                    <h6 class="opacity-7"></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        `;
        $("#cardsContainer").append(element);
        
      }
    }

    $(document).ready(function () {
      var movimientos = '<%- data %>';
      movimientos = handleJSON(movimientos);
      movimientos = movimientos.data;

      var movimientos2 = '<%- data2 %>';
      movimientos2 = handleJSON(movimientos2);
      movimientos2 = movimientos2.data;

      let permissionsUser = `<%- JSON.stringify(userData) %>`;
      permissionsUser = handleJSON(permissionsUser);
      permissionsUser = permissionsUser.permisos;
      
      loadCards(movimientos.cuenta)
      handlePermissions(permissionsUser);
    })
  </script>

</body>
</html>

